[2020-03-19 18:39] r-pop opened #1 "Basic design overhaul"
A little style goes a long way, but I have no style.

[2020-03-19 19:17] r-pop opened #2 "Filter functionality for donation lists"
Users should be able to filter by state, and materials accepted. (N95, surgical, booties, goggles, etc) and (opened box, unopened box).

[2020-03-19 20:25] r-pop opened #4 "Fix formatting on mobile"
Chrome 80 Android

The "how to donate" list numerals are elided

Some of the line breaks aren't rendering

[2020-03-19 22:48] r-pop opened #6 "Need to automate new donation site workflow"
Current workflow:
- receive gform
- call hospital if info is incomplete (it usually is)
- manually edit index.html, push, and deploy

Better ideas:
- automatic update from form (but I really worry about moderation - people have put in long random comments, lots about mask sewing which is not what we're doing with this site)
- publish form responses as google sheet and make viewable (but also need

[2020-03-19 22:52] 4kbt commented on #6
Perhaps it would be useful to use a spreadsheet to coordinate calling/sourcing information.

A mock-up example is here: https://docs.google.com/spreadsheets/d/1edSpWG2YJyhJ-9gc8NOcXngO5EU7wNAjf2RKo9xYhzk/edit#gid=0

[2020-03-19 22:53] r-pop opened #7 "Tracking or credit for donors"
Idea that was emailed in: If there is a way to track and share who donated, that might be good incentive for people to donate.  I've been working with local dental societies to ask dentists to donate PPE.  But dentists are struggling now, some laying off employees, and PPE is valuable.  Some free marketing for people who donate might help them!

[2020-03-19 22:55] 4kbt commented on #6
I believe that form responses can be moderated somehow. Will check.

If this site catches on, we have to make sure we don't spam the hospitals with callers.

[2020-03-19 23:09] #1 closed

[2020-03-19 23:15] 4kbt commented on #6
I am going to backfill the phone numbers for this Sheet now. Will be slow, but can give callers some structure.   Feel free to email me email addresses of trusted editors.

[2020-03-19 23:15] r-pop opened #9 "Manually update donation sites"
Hi all, I need a break from manual HTML updates.

Here is where the form submissions come in, and I've processed through 10: https://docs.google.com/spreadsheets/d/1GwP7Ly6iaqgcms0T80QGCNW4y2gJ7tzVND2CktFqnXM/edit?usp=drive_web&ouid=106808033963993184667

If you want to try to edit index.html to include a new site, go ahead. Awong or I can approve your merge.

I'm going offline for a little bit to

[2020-03-19 23:37] awong-dev opened #10 "initial information architecture and nav"
"I'm a citizen seeing this on twitter and I want to know what the site is about before I lose ttention"

"I'm a citizen with a possible stash of PPE and just want to know what to do next"

"I'm a healthcare provider/organizer and need to update info"

[2020-03-19 23:38] awong-dev commented on #10
Either code or wireframes would be useful.

[2020-03-19 23:58] 4kbt commented on #6
Phone numbers now filled in for Washington.

[2020-03-20 00:05] 4kbt commented on #6
Starting work on New York State. Source data are worse, so it is going to be a little slower.

[2020-03-20 00:13] DriftGuru commented on #6
Thoughts around a chatbot that could automatically pull all this info in from a database into the bot... https://video.drift.com/v/absBr9Bp3R7/ I built it out real quick.  If I spent some time and we had a database we could update and pull the info faster.

[2020-03-20 00:50] 4kbt commented on #6
NYS is slow, but filling in here: https://docs.google.com/spreadsheets/d/1qUY-uF2eBmFjPtUZ5wGvH4Lslr7pJ6O28IWRhso1FbY/edit?usp=sharing

[2020-03-20 01:04] DriftGuru commented on #6
I just reached out to the COO of Zocdoc.  May be able to get a full list in a database we need.

Sent from my iPhone

[2020-03-20 01:27] r-pop commented on #10
I'm not too stressed about CTA below the fold - above the fold is pretty compelling image rich content. Right now it's in the order of an argument (problem, evidence, call to action, what to find, where to take it).

One possibility, move the "We need to help the helpers, right now. We need to find the masks." above the embedded tweets. But I think this would be less compelling. Maybe they could b

[2020-03-20 01:52] r-pop commented on #6
@DriftGuru the hardest part of getting the data is getting safe dropoff instructions. We don't want people wandering in with masks during a crisis. We also need to find out which sites are accepting opened packs and which aren't. Normal procedure is no - but I think soon everyone will take what they can get. Meantime it's complicated.

@4kbt thank you! My wife has made most of the Seattle calls so

[2020-03-20 01:52] 4kbt commented on #6
NYS is done. Will require some thoughtful deduplication

[2020-03-20 02:02] 4kbt commented on #6
Pinged one of the better social-organizers I know, cc'ed @r-pop .

[2020-03-20 02:12] 4kbt commented on #6
Oregon sheet created, haven't yet added phone numbers: https://docs.google.com/spreadsheets/d/1Pr0pw8EOs6d1oRKcmgarYT2Pi3gi5aEng2JS823qHnY/edit#gid=0

[2020-03-20 02:12] sp1d3rx opened #11 "site only mentions N95 masks but P95 is same or better"
N95 means it captures 95% of particles, N means not for oil particulates. P95 means resistant to oil particulates, R95 means somewhat resistant to oil particulates, so P > R > N, if you have a P95, R95, or N95, those are needed, it's not just N.

[2020-03-20 02:44] r-pop commented on #11
Yeah I see your point. I'm not sure all of these (eg a P100) would be practical in a medical setting, but I how about I update the "other needs" section to discuss {P,R,N} {95, 99, 100}? Need a simple and short way to communicate this.

[2020-03-20 02:45] r-pop commented on #4
This was fixed with Tavis's first commit. Thanks Tavis for the real stylesheet!

[2020-03-20 02:45] #4 closed

[2020-03-20 02:47] r-pop opened #12 "Add analytics"
google analytics in the header

[2020-03-20 02:53] r-pop opened #13 "Design: within listings for a large city, it's hard to scan and see the different hospitals"
SF, Seattle have this issue so far

[2020-03-20 03:01] r-pop opened #14 "Add related resources section or subpage"
Have gotten many suggestions to post two related categories of resources:

How to donate masks if you are a business or institution with a large supply, this org can coordinate your donation to highest need within WA: https://www.suppliessaveliveswa.org/

Various grassroots efforts to sew masks. Our site should stay focused on finding certified PPE, but ok to link to these resources for the crafte

[2020-03-20 03:03] r-pop opened #15 "Think through scaling plan eg database of sites vs static single file"
I would like an engineer to step up and own this - there is significant volunteer energy in #6  but can someone make a plan and post it for feedback? We don't need this yet, but we will.

[2020-03-20 03:13] r-pop commented on #11
I have a question out to some doctors about this.

[2020-03-20 03:35] r-pop commented on #12
now working!

[2020-03-20 03:35] #12 closed

[2020-03-20 03:53] yauwong commented on #6
I can make some calls tomorrow if someone wants to give me a list of a few places. Unless there are a ton of hands on deck, I would suggest first trying to get one hospital identified per state plus one hospital per major city, before we go through the task of contacting all of the hospitals in the entire country.

[2020-03-20 03:57] yauwong commented on #13
I’m not technically inclined so don’t know how hard this would be, but what about adding a map to the site? If there are lots of hospitals in a city, I imagine it’d be hard for someone to pick a hospital.

[2020-03-20 04:00] r-pop commented on #6
Thanks Yau! One per state plus every major city is a very achievable goal for tomorrow's calls. So far the info has been pretty random (form submissions and things people tagged me in on social media). My wife called the largest ten Seattle hospitals too. But yes - breadth before depth!

[2020-03-20 04:01] r-pop opened #16 "Import from PPE TO CROWD-SOURCE sheet"
From email, we were sent this sheet and asked to import the entries we don't also have: https://docs.google.com/spreadsheets/d/1txEanDkIrJ5GNfSk-zlXkTlB-bQPNRN_Y69qEwmdme8/edit?fbclid=IwAR1A6TrHCQ9TttNJbb1kB6b2Xot4DCem-z6DVXUR4V5qToUboOr-50D7h6g#gid=1259409226

[2020-03-20 04:10] yauwong commented on #6
Great! I’ll work on that in the morning.

I found this list on Twitter that someone else is working on. It adds a few additional hospitals to our list: https://docs.google.com/spreadsheets/d/1txEanDkIrJ5GNfSk-zlXkTlB-bQPNRN_Y69qEwmdme8/htmlview#gid=1259409226

[2020-03-20 04:15] yauwong commented on #14
Here’s another you could add:  https://www.medicalsupplydrive.com/

Medical students organizing collections of PPE and also urging people to contact research labs to donate their equipment.

[2020-03-20 04:16] r-pop commented on #6
Thank you! I opened #16 for that and will work on it tomorrow unless a volunteer dev picks it up.

[2020-03-20 04:21] yauwong commented on #6
💪(elbow bump in lieu of a high five)

[2020-03-20 04:26] awong-dev commented on #15
I would avoid a spreadsheet as much as possible. Let's see how far we can get with periodically snagging data from google sheets and generating a json out of it that can be loaded into the website.

[2020-03-20 04:31] r-pop commented on #15
I agree with this direction, thanks for the chat!

[2020-03-20 05:38] 4kbt opened #17 "How does a hospital turn off the flow of masks?"
If too many people show up/obstruct operations or cause trouble somehow, how do we shut off the flow of people quickly?

The contact email at the bottom of the page is a good start, but is there anything further we can do, so that @r-pop doesn't need to be awake at all-hours?

[2020-03-20 05:39] 4kbt commented on #13
I think a map is the way to go. Trying to loop sash in.

[2020-03-20 05:40] r-pop commented on #17
This is a problem that would be wonderful to encounter, but is unlikely. Hospitals have security and can turn people away if needed. But right now they need PPE.

[2020-03-20 05:59] 4kbt commented on #15
The sheets are awesome both for data-entry and for refactoring the needed fields.   If it's json backed by Sheets at first, that sounds rad.

[2020-03-20 06:00] 4kbt commented on #13
Addresses added to the Washington sheet in support of a map. Sash is working on a map.

[2020-03-20 06:09] yauwong commented on #6
So I was thinking emails would be a lot faster for reaching more places. I drafted something. Feel free to copy or give comments:

Hi,

I am putting together a list of hospitals and clinics that are need of face masks and other personal protective equipment donations. The list will be shared on findthemasksks.com for individuals and businesses to use. If your hospital is looking for these donation

[2020-03-20 14:45] 4kbt commented on #17
"First, do no harm" is important -- if we somehow wind up compromising a hospital's essential function, then we aren't helping the problem any more...

Also, as I've learned from past experience assisting government function, frequently there is an office that is already working *really* hard to do the thing that needs doing (PPE--> hospitals in this case). We should try to aid them as much as we

[2020-03-20 15:44] ctavispost commented on #13
I'm going to change the html. Set the states, cities, and hospitals to headings. That should make it more semantic and readable.

[2020-03-20 18:01] r-pop commented on #17
Do you have a suggestion for addressing this issue?

Right now I get notified immediately on email to contact@, and can take a listing down in minutes. You are right that my SLA is ~8 hours because I will sleep sometimes. :)

In the next version of the system, we will have a pipeline pulling regularly from a sheet (this is the form response sheet, not the comprehensive dataset sheets you posted).

[2020-03-20 18:31] r-pop commented on #15
Updating issue title to reflect plan of record. Rather than create a DB, we are using google sheets as the backend. Recording leads and plan from a chat.

Current tech leads:
awong-dev: gsheets APIs -> JSON
graemer: parsing JSON into HTML

Deployment plan:
1) currently, we are doing manual updates to HTML. this will continue until the vNext is ready and tested.
2) r-pop needs to make updates to th

[2020-03-20 18:38] r-pop commented on #6
@yauwong for sure, if you can find email contacts! The HCW I spoke with (on twitter right before launch) rec'd using the charge nurse as decision maker, which generally requires phone call from the outside. But if you have contact info or can find it, please go ahead!

Edits:
- typo in the URL: findthemasks.com
- please state the purpose of the site as encouraging the public to donate small quanti

[2020-03-20 18:39] r-pop commented on #6
To record more clearly, the info gathering priority is not to call every hospital in a geo (Charlie's sheets), it is to have a broad coverage on the site to better serve members of the public across the country. Charlie, appreciate the effort, and these may be of use later in the project when we have that capacity.

[2020-03-20 18:51] yauwong commented on #6
Sounds good. I sent out about 20 emails this morning and am submitting responses on the findthemasks.com form. Will send out more throughout the day.

[2020-03-20 18:53] r-pop commented on #6
Awesome, that's perfect!

On Fri, Mar 20, 2020 at 11:52 AM yauwong <notifications@github.com> wrote:

[2020-03-20 21:01] r-pop commented on #9
@4kbt if you have cycles, here is the sheet. 24+ are new. Please call what you're doing here, and submit a PR when they're added!

[2020-03-20 21:02] r-pop opened #23 "Add "who are we" page"
Some concerns raised on twitter that the source of this work is not clear. I will add a short who we are page. Would like to give all contributors credit - please let me know if I may post your name or handle or if you'd like to remain anonymous.

@awong-dev @ctavispost @leee @shahronak @4kbt @graemer

[2020-03-20 21:05] 4kbt commented on #9
Will take number 26, St. Clare, as a test to make sure that formatting goes well.

[2020-03-20 21:35] cchang-adi commented on #16
I haven't figured out how to assign this to myself, but I am on it.

[2020-03-20 21:48] 4kbt commented on #9
Will handle rows 27-30.

[2020-03-20 22:07] 4kbt commented on #9
Unclear how to handle hospital 31. Will handle 32-35.

[2020-03-20 22:28] 4kbt commented on #9
Addressing 36 and 37.

[2020-03-20 22:46] shahronak opened #28 "Add embedded map view"
**API costs:**
Geocoding API to convert addresses to lat/long: _0.005 USD per call_
Google Maps JS API per map load cost: _0.0056 USD per load  (at 100,001 - 500,000 monthly volume)_

We can call the geocoding API once per new form entry as part of the backend conversion to JSON. Let's say 200 hospitals. This cost would be negligible ($1)

Current requests to the page is ~40k after 1 day of releas

[2020-03-20 22:47] shahronak commented on #28
Feel free to assign this one to me, I'm going start taking a look.

[2020-03-20 22:49] r-pop commented on #28
@4kft knows a gmaps SWE who may be able to help. Not sure if there is public interest/crisis response capacity available for less.

[2020-03-20 22:50] 4kbt commented on #9
Addressing 38 and 40. 39 is not a hospital.

[2020-03-20 23:06] 4kbt commented on #9
Tackling hospital 41.

[2020-03-20 23:11] 4kbt commented on #9
Will get 42 in this commit, too.

[2020-03-20 23:17] r-pop opened #31 "design: favicons would be nice to have"

[2020-03-20 23:18] r-pop commented on #23
Fixed! @leee I didn't list you, if you want to be listed just let me know how to credit you - Name and (optional) link.

[2020-03-20 23:18] #23 closed

[2020-03-21 00:02] leee commented on #23
I appreciate it 🙂Sorry I haven't contributed much other than that single hospital group listing, not much brainspace cycles at the moment. I'll submit a PR for posterity.

[2020-03-21 00:05] #13 closed

[2020-03-21 00:08] leee commented on #31
I just need to confirm attribution/licensing requirements, but I think this will work since it's from Twitter and they're theoretically free for use: https://favicon.io/emoji-favicons/face-with-medical-mask/

[2020-03-21 00:10] r-pop commented on #31
I love it. And maybe this helps:
https://blog.twitter.com/developer/en_us/a/2014/open-sourcing-twitter-emoji-for-everyone.html

On Fri, Mar 20, 2020 at 5:08 PM E. Lee <notifications@github.com> wrote:

[2020-03-21 00:12] leee commented on #31
Works for me, and per https://twemoji.twitter.com/

So I'll keep this simple and take the files, dump them into root, and add the appropriate `head`s to the two html files for the time being.

[2020-03-21 00:16] r-pop commented on #31
Or you could put the license info in the project readme on github! if i
have to be the one to do that, lmk.

On Fri, Mar 20, 2020 at 5:12 PM E. Lee <notifications@github.com> wrote:

[2020-03-21 00:30] leee commented on #17
In general, hospitals aren't the only groups with shortages. If they have an overflowing bounty, that will likely go to other neighboring hospitals (especially in high density areas), or to EMS agency(ies) serving that area and/or hospital. Beyond that, there's a lack of PPE available for healthcare public-safety adjacents like FDs and PDs.

[2020-03-21 01:39] yauwong commented on #9
I've received an update to Boston Medical Center. Let me know if someone can change this:
For mailing, same address, with additional instructions:
Ask that they please put a note in the box specifying that it is a donation. Make sure that they provide their name, email, and  mailing address, along with the monetary value of their donation (for policy reasons).

Updated PPE List: Surgical Gloves
Go

[2020-03-21 02:16] ray-odoo opened #39 "SEEKING: Volunteers to publish your list in a Global Searchable Directory"
https://helpfulengineering.odoo.com/members

Is there any interest?

[2020-03-21 02:49] cchang-adi commented on #16
Sent file to Charlie since I can't use GitHub to save my life (can you tell I'm only an electrical engineer? :P)

[2020-03-21 04:54] ray-odoo commented on #39
https://helpfulengineering.odoo.com/register - via a simple web page you can enter a NEED or HAVE entry.

[2020-03-21 04:59] r-pop commented on #39
Not able to adopt that. We are keeping it simple and focusing on collecting data about what hospitals will accept.

[2020-03-21 04:59] #39 closed

[2020-03-21 05:03] r-pop commented on #9
I am doing the Boston Med Center update (in the sheet and the html) now, and then let's stop doing manual updates. We'll focus tomorrow on data backfill (I will open a new issue) and then cut over to the automatic pipeline!

[2020-03-21 05:15] r-pop opened #42 "THE GREAT DATA BACKFILL"
Hello volunteers! This need is short term and appropriate for detail-oriented folks without coding experience. We are moving to an automatic publishing pipeline that relies on our google form directly to build the site, but we currently have a lot of valuable listings on the site that didn't go through the form at all. We have to put this info into the form so that we don't lose it in the move.

B

[2020-03-21 05:36] ray-odoo commented on #39
OK.  Thanks for considering.  Can I ask what isn't simple about this method of collecting data about what hospitals will accept?

[2020-03-21 05:40] ray-odoo commented on #39
![image](https://user-images.githubusercontent.com/41073831/77220274-c274ee00-6afb-11ea-8679-a5fac3a3af62.png)

[2020-03-21 05:40] ray-odoo commented on #39
![image](https://user-images.githubusercontent.com/41073831/77220281-d587be00-6afb-11ea-827b-3e8241cbb9b7.png)

[2020-03-21 05:41] r-pop commented on #39
We already have something in use that is meeting our needs.

[2020-03-21 05:42] r-pop commented on #16
I reached out to the sheet owner about adding credit/link and ongoing collab or integration

[2020-03-21 05:42] melaniebcohen commented on #42
I can take Washington!

[2020-03-21 05:53] melaniebcohen commented on #42
That went faster than expected. I'll do Oklahoma through Washington DC and call it a night. Let me know if you need more support tomorrow, happy to help.

[2020-03-21 05:55] skimekerr commented on #42
I'll do California.

[2020-03-21 05:56] unruthless commented on #42
I'll do Maine and Massachusetts.

[2020-03-21 06:16] unruthless commented on #42
Done. There was one entry for Mass that will likely break the formatting of any page attempting to render it. (Partners Healthcare, they're looking for testing kits).

[2020-03-21 06:21] r-pop commented on #42
@unruthless thank you. I saw that one. Members of the public won't have that and we may take it down in the move.

[2020-03-21 06:23] marcpopMSFT commented on #42
Looks like Michigan through Mississippi are up for grabs so I'll do those

[2020-03-21 06:28] skimekerr commented on #42
@r-pop - I'm seeing inconsistency in the Hospital Name info for the Valley Medical Center Foundation on the website and the Santa Clara Valley Medical Center entry in the Gsheet (row 9). I don't have edit access to the spreadsheet to update. I'm thinking the spreadsheet needs to be updated to say Valley Medical Center Foundation.

[2020-03-21 06:31] marcpopMSFT commented on #42
Looks like MS was already covered (and actually shows up twice in the spreadsheet).  I looked up providence in Montana's address from the web.

[2020-03-21 06:34] skimekerr commented on #42
Done.

[2020-03-21 06:36] skimekerr commented on #42
I'll do Missouri & Nevada now.

[2020-03-21 06:41] r-pop commented on #42
I just gave you access and agree with your proposed edit.

[2020-03-21 06:42] r-pop commented on #42
Thank you! Some of the states may have only ever had entries from the form so if there's no entry needed that's not weird.

[2020-03-21 06:46] skimekerr commented on #42
Looks like the last state in the website not claimed is New York. I've got it now.

[2020-03-21 06:54] skimekerr commented on #42
@r-pop - FYI - Elmhurst Hospital in NY is requesting ventilators. Probably not a thing the general public would have on hand... but might be a good idea to keep these types of asks on here (including testing kits comment above)? Maybe if there's another hospital or medical professions looking at this and they. have spares that can be moved between hospitals?

[2020-03-21 07:00] alexisjulia commented on #42
I'll do Oklahoma & Oregon =)

[2020-03-21 07:02] skimekerr commented on #42
@r-pop - you might want to options to the equipment that's being accepted. Here's some that came up multiple times for me.

hand sanitizer
gowns

[2020-03-21 07:06] skimekerr commented on #42
@alexisjulia - Oklahoma through Washington DC was grabbed by @melaniebcohen earlier. Might want to check to see if that's done already.

I'm pretty sure that all the states are now complete, but a sanity check of any that's missing from this popcorn style of grabbing states would be appreciated.

[2020-03-21 07:10] alexisjulia commented on #42
@skimekerr ha! okay was just about to report "they're all in there!"

I think all the popcorn has been grabbed, time for red vines

[2020-03-21 13:26] eZanmoto commented on #2
I've implemented this in https://github.com/r-pop/findthemasks/pull/46, please let me know what you think.

[2020-03-21 16:49] awong-dev opened #47 "Clean up Address format"
The automated process needs some help with the address formatting.  We need to go through all the addresses in the "Form Responses 1" tab in

https://docs.google.com/spreadsheets/d/1GwP7Ly6iaqgcms0T80QGCNW4y2gJ7tzVND2CktFqnXM/edit#gid=2027792507

and make them look right.  Currently some of them look like:
[code]

We want it to look like:
[code]

inside the cell itself.

[2020-03-21 16:50] awong-dev commented on #42
FYI, someone still needs to walk through the "moderated" tab and put an "x" in the approve column for every verified entry for it to show up.  Currently items 47 through 114 are not verified/approved.  Tagging @r-pop and @graemer for visibility.

[2020-03-21 17:03] jianshen commented on #2
Ooh @eZanmoto your filters look great! @r-pop feel free to ignore my PR. Great job putting all this together btw.

[2020-03-21 17:28] skimekerr commented on #42
What does it mean to "Verify" or "Approve" the items? Is it cleaning up the data and checking that the data is accurate?

Also, some of the earlier data in the spreadsheet seems to be poorly formatted and may need to be cleaned up? Is that something that needs to happen too?

[2020-03-21 17:45] r-pop commented on #42
Great questions, we haven't formalized that process but that's our next need - want to take it on?

I just went through and tried to:
- sanity check the entries - eg if there was a longwinded description that could be clearer, edit it down in "Form response 1".
- make sure there was one entry per donation site, and picked the more thorough or legit looking one
- cleaned city data where necessary (

[2020-03-21 17:47] r-pop commented on #42
@skimekerr see previous. Also, what I actually did just now was very liberally put the 'x' in Column A of "moderated" tab, then hit a URL that forces reload of the data into the automated html (https://us-central1-findthemasks.cloudfunctions.net/reloadsheetdata), then scroll through the generated page looking for dupes.

This "test in prod" is more palatable now before we've cut over, not sure if

[2020-03-21 18:07] r-pop commented on #6
This has become obsolete, I'll open a new issue for outreach to states/cities not yet covered.

[2020-03-21 18:07] #6 closed

[2020-03-21 18:14] awong-dev opened #48 "Vnext prelaunch checklist"
- [ ] Ensure a change in form data percolates
- [ ] Ensure the stylesheet is named something OTHER than style.css and style1.css to avoid month-long caching crazy
- [ ] Open incognito tab. Pop open web inspector and go to "networks" tab. Open the page. Check the Response headers for all of index.html, stylesheet, etc., and ensure that the cache-control max-age does not look insane.

[2020-03-21 18:16] cchang-adi commented on #16
This sheet is still being updated; should I submit new sites through our own Google form?

[2020-03-21 18:19] r-pop commented on #16
If you have the time, yes!

Eventually it would be nice to automate this importing and also sync back - I am in touch with the sheet owners and may be able to discuss later this weekend.

[2020-03-21 18:21] cchang-adi commented on #16
Ok, on it. They also differ from our form because they ask if used/dusty is ok while we ask open/unopened. That's what led to a lot of the "unsure" entries. May need to clarify what those criteria are.

[2020-03-21 18:34] liamrosen opened #50 "Coordinate with "PPE Supplies Needed" and "Donate PPE" to avoid duplicating work"
Looks like there are already two sheets/resources out there with similar information:
[PPE Supplies Needed](https://docs.google.com/spreadsheets/d/1txEanDkIrJ5GNfSk-zlXkTlB-bQPNRN_Y69qEwmdme8/htmlview?sle=true) and https://www.donateppe.org/.

It would be a good idea to merge everything into one nice resource.

[2020-03-21 18:36] r-pop commented on #14
https://www.donateppe.org/

[2020-03-21 18:38] r-pop opened #51 "Non-code: call hospitals and input donation info for geos not yet covered"
Volunteers could call hospitals in states and major cities not yet covered, and input info through the form.

[2020-03-21 18:38] liamrosen opened #52 "Add contact info row"
It would be good to have a contact info row so people could contact the hospitals with questions (i.e. one I've been asking lately is "do you accept 3D printed masks or face shields?"). Even if it was optional, as I'm sure hospitals are way too busy right now to answer a lot of questions.

[2020-03-21 18:38] r-pop commented on #51
or email! @yauwong wrote a temple and can post here.

[2020-03-21 18:40] cchang-adi commented on #42
Add another option for accepted items: disinfecting wipes

[2020-03-21 18:40] r-pop commented on #50
Recorded donateppe in #15. Merging the suggestion to collab into the issue tracking progress.
Duplicate of #16

[2020-03-21 18:40] #50 closed

[2020-03-21 18:41] r-pop commented on #52
We are letting hospitals decide whether to add contact info. many have! it's folded into the instructions usually.

[2020-03-21 18:42] liamrosen commented on #16
Yay! Glad ya'll are in touch. I will start recommending https://findthemasks.com/ as the main resource. Right now I'm refreshing the new reddit search for "donate masks" and pointing people to resources.

[2020-03-21 18:42] skimekerr commented on #42
I've also seen a lots of requests for:
hand sanitizer
gowns

[2020-03-21 18:44] r-pop commented on #42
@skimekerr @cchang-adi added gowns, hand sanitizer, disinfecting wipes, thermometers to the form!

[2020-03-21 18:45] skimekerr commented on #42
I'm going to go through the "Form Responses 1" and clean up the "Drop Off Instructions" data that needs it.

[2020-03-21 18:45] liamrosen commented on #52
In that case, how about changing the instructions form question from: "Drop off instructions, eg curbside procedure or mailing address ATTN: instructions:"

to something like:

"Drop off instructions, e.g. curbside procedure, mailing address, contact person/information"

[2020-03-21 18:53] r-pop commented on #52
Done, thank you!

On Sat, Mar 21, 2020 at 11:45 AM liamrosen <notifications@github.com> wrote:

[2020-03-21 19:00] liamrosen commented on #16
By the way, there's a bunch of other sites working on the same thing here. Could be a good source for data aggregation:

PPE Donation Project Clearinghouse
https://docs.google.com/spreadsheets/d/1OTmhM2BzMYPkdooaQeYqrDShaKHnt1ltrq3iRBPpDjU/edit#gid=0

[2020-03-21 19:07] r-pop opened #56 "iOS Safari: filters don't show up"
They are working on iOS Chrome and Android Chrome.

@eZanmoto can you take a look?

[2020-03-21 19:17] 4kbt opened #58 "Filter items could be more clear?"
At present, filter titles are as follows:

"n95s", "masks", "face shields", "booties", "goggles", "gloves", "kleenex", "sanitizer", "overalls", "gowns", "respirators".

Suggest:

"N95 masks/respirators", "surgical masks", "face shields", "medical booties", "safety goggles", "gloves", "kleenex", "hand-sanitizer", "medical overalls", "gowns", "advanced respirators (PAPR/CAPR/etc.)".

[2020-03-21 19:19] skimekerr commented on #42
@r-pop - We have conflicting info for Swedish Issaquah equipment and open vs. closed boxes. If you agree, I'll combine the equipment list and say they are accepting open boxes and the hospital can decide how to triage any open boxes if they don't actually want them.

[2020-03-21 19:23] r-pop commented on #42
@skimekerr SGTM

[2020-03-21 19:35] ctavispost opened #59 "Bare links for sites break mobile pages in index-automated"
Links should be placed in tags like:

`<a href="[link]">donation info</a>`

[2020-03-21 19:48] r-pop commented on #59
sounds like a data cleaning issue? @skimekerr @cchang-adi

[2020-03-21 19:48] eZanmoto commented on #56
Thanks for flagging this, I'll take a look. Thanks!

[2020-03-21 19:49] eZanmoto commented on #2
Thanks!

[2020-03-21 19:51] r-pop opened #60 "Updates to whoweare.html"
Need to credit all of the last ~24 hrs volunteers! Please reply with how you'd like to be acknowledged (eg how to write your name), and optionally a link to your internet presence.

@eZanmoto @skimekerr @marcpopmsft @unruthless @alexisjulia @melaniebcohen

Also we should update this page with a link to the PPE TO CROWDSOURCE sheet to acknowledge their contribution to gathering the data we display

[2020-03-21 19:56] r-pop commented on #48
For list-locations.js I am seeing a worrisome cache setting:
[code]

[2020-03-21 19:57] skimekerr commented on #59
Got it. I'll update.

[2020-03-21 19:59] r-pop commented on #48
Also I saw this in cloudflare: Note: By default, Cloudflare does not cache HTML content. You can create a Page Rule to cache static HTML content.

[2020-03-21 20:02] eZanmoto commented on #56
I've taken a quick look on iOS Safari and Mac Safari but it's showing up on both for me, do you have more details on this? Is AL showing up directly below "List of donation sites", or is some of the filter information showing up? Please also provide a screenshot of what you're seeing where the filters are supposed to be as well, if that's alright, thanks!

[2020-03-21 20:03] skimekerr commented on #59
Links should all be updated now.

[2020-03-21 20:26] r-pop commented on #48
Talked to Albert, this should all be fine

[2020-03-21 20:35] r-pop commented on #52
I had to revert this, it broke the parser we are trying to launch.

[2020-03-21 20:36] eZanmoto commented on #60
I'm Seán Kelleher, and I'm eZanmoto on most platforms but @sean_m_kelleher on Twitter. Thanks very much!

[2020-03-21 21:10] 4kbt opened #64 "Small jump in vertical scroll on first filter-tap, chrome-android"
There is a small jump in vertical scroll position on chrome-android the first time I tap on a filter after page load (new site, as of 14:06 Pacific , March 21).

Steps to repro:

1. Open site (Pixel 3a, chrome 80.0, Android 10)
2. Scroll down to filters, with filters near bottom of screen
3. Tap a filter (FL works).

Expected:
Filter filters results below

Happens:
Vertical scroll jumps by ~0.5-1

[2020-03-21 21:13] 4kbt opened #65 "Extended url-text causes horizontal-scrollability on chrome-android"
With the new version of the site (1406 Pacific, March 21), when viewing on Chrome-android (pixel 3a), the site can be scrolled laterally.

It appears that long url strings are the cause.  Firefox-android does not do this.

This bug may be addressed in the future by collapsing the urls back into links.

[2020-03-21 21:16] cchang-adi commented on #16
This sheet has reached max # of editors, so they are moving to a separate Google form as well.

[2020-03-21 21:36] liamrosen commented on #51
I've worked in sales for the past six years, prospecting and making up to 40 cold calls a day. Happy to help.

[2020-03-21 21:49] rezendi opened #66 "Site reportedly doesn't render on Microsoft Edge"
Report from a nurse friend in Maine. Not sure which version at the moment - have enquired.

[2020-03-21 22:11] cjimmy opened #67 "N95 mask flipped. Resize, optimize images."
N95 image is mirrored. Not what it looks like when you look at one. Fix contrast on surgical mask image.
Images are way larger than they need to be.

[2020-03-21 22:30] cjimmy commented on #56
These show up and work for me on iOS (Safari + Chrome), and Android (Chrome)

[2020-03-21 22:32] cjimmy commented on #64
I was able to reproduce this with a Samsung Note 10+ on Chrome.

[2020-03-21 22:34] r-pop commented on #56
We think this was a caching issue - it was working for graemer when I spoke
to him recently. you can close.

On Sat, Mar 21, 2020 at 3:31 PM Jimmy Chion <notifications@github.com>
wrote:

[2020-03-21 22:54] cjimmy opened #71 "In location filter, scroll to list after state selection"
Do we see the need for a user to select multiple states before scrolling?
If not, we should auto-scroll to the list as soon as they select a state. In mobile, it's not obvious what clicking on a state does because the list is beyond the end of the screen.

[2020-03-21 22:58] cjimmy opened #72 "In location list on mobile, labels and information confusingly tight."
What it looks like on an iPhone SE on Chrome. The labels look like they go with information above it, rather than below it. (e.g. `101 Sivley Rd` looks like it's the `Instructions` of Huntsville Hospital

![IMG_AF1728FBA96E-1](https://user-images.githubusercontent.com/700885/77238353-99109c80-6ba5-11ea-93f8-5cdb0417a3c8.jpeg)

[2020-03-21 23:04] cjimmy opened #73 "Improve link unfurl"
For example, what it looks like when you paste a link into Facebook, Twitter, or Slack. Here's what it currently is on Facebook.

https://developers.facebook.com/tools/debug/?q=findthemasks.com

[2020-03-21 23:07] cjimmy commented on #73
@r-pop What would be useful is a `title` and `description` ("A brief description of the content, usually between 2 and 4 sentences. This will displayed below the title of the post on Facebook.") and if you think the current image is fine or needs improvement.

[2020-03-21 23:11] 4kbt opened #74 "Allegro Pediatrics rows are evergreen in Form Responses 1 (Google Sheet)"
The Allegro Pediatrics entries (timestamped March 20) at the bottom of the Form Responses sheet are perpetually at the bottom. Newly-submitted entries from the form appear above them.

It doesn't block functionality at all, but the behavior is unexpected.

[2020-03-21 23:25] rezendi commented on #66
Update: "Microsoft edge 42.17134.1098.0" "Microsoft edge HTML 17.17134"

[2020-03-22 00:06] tacosen opened #75 "Available donation sites not appearing"
When I got to the site and scroll down to see the hospital/donation site locations, none appear.

Browser: Google Chrome Version 80.0.3987.122 (Official Build) (64-bit)
OS: MacOS Mojave Version 10.14.6

![Screen Shot 2020-03-21 at 6 32 36 PM](https://user-images.githubusercontent.com/62488779/77239289-73889080-6baf-11ea-85bd-48a3ff19fb5c.png)

[2020-03-22 00:35] cjimmy commented on #75
@tacosen is this on the public website or on a locally run server? If locally run, you'll need to download https://findthemasks.com/data.json and store it locally. I'm not sure why it's not in the repo. @r-pop – any reason why `data.json` is not in the repo?

[2020-03-22 00:40] r-pop commented on #75
it is automatically generated and placed on the server by a crontab.

The dev chat is trying to solve this issue (Jimmy - we're on fb, please add me (/rachelpopkin) and i'll drop you in there if you want.

[2020-03-22 00:59] r-pop opened #76 "Add open box general guidance to site"
Guidance via PPE distro zoom meeting of projects similar to this one. This could go at the top of the donation sites list, right before the JS section:

If you are donating open packages, please put them in a ziploc bag with a note saying whether they have been used, whether anyone in your household has been sick or travelled outside the country, and the expiration date if known.

[2020-03-22 01:12] 4kbt opened #77 "Consider adding "home-sewn" option for hospitals"
We're starting to see hospitals including home-sewn masks on the list of resources they can accept. Might be useful to give that some data-structure?

[2020-03-22 02:09] r-pop commented on #77
Let's not do this quite yet. Waiting for more expert advice on which (if any) homemade PPE are protective enough for frontline HCW.

[2020-03-22 02:31] #67 closed

[2020-03-22 02:36] r-pop commented on #75
We think this is fixed. If anyone sees it again, please comment.

[2020-03-22 02:37] r-pop commented on #66
If someone has Windows and can repro, please let us know here.

[2020-03-22 02:37] r-pop commented on #66
@marcpopmsft does this repro for you? This is EdgeHTML Edge, not Chromium Edge, right?

[2020-03-22 03:03] shahronak commented on #75
I tried it on mobile iOS Safari and am still hitting the issue. Cleared my website data cache and tried again.

[2020-03-22 03:15] melaniebcohen commented on #60
Just Melanie Cohen is fine, rebuilding my website at the moment. Thanks!

[2020-03-22 03:37] mx00s opened #81 "Encourage form submitters to link to the recipient's own instructions"
Recently I learned about [Seattle Children's request for donations](https://m.facebook.com/story.php?story_fbid=10157320680637061&id=14517117060) from a local nurse. I know they've edited that post at least two times, slightly revising what they are willing to accept and drop-off location options. It would be great if this URL was linked under Seattle Children's so everyone could verify the latest

[2020-03-22 03:56] mx00s opened #82 "Not all N95s are equal"
Earlier this week [Seattle Children's request for donations](https://m.facebook.com/story.php?story_fbid=10157320680637061&id=14517117060) said for 3M N95 masks they were accepting "1860, 1860s, and 1870". My unused 3M N95s from when the wildfire smoke was bad are the 8511 model.

I'm unclear whether any hospitals or clinics claiming to accept N95s will accept 8511 or any of the other models which

[2020-03-22 03:59] mx00s commented on #81
By the way, Seattle Children's isn't currently accepting any kind of N95s. Their post currently says

They [clarified for me](https://twitter.com/seattlechildren/status/1240749605807165443) what they mean by "basic isolation masks".

[2020-03-22 04:14] r-pop commented on #81
Could you submit a new entry for Seattle children's through the form that has the updated info and the link? from there we can publish and remove the older entry.

I can't change the form field titles, because it breaks our pipeline (which I learned the hard way earlier today!) If it becomes worthwhile to update this to add the things you've requested, we'll need to have a brief downtime to do so.

[2020-03-22 04:15] r-pop commented on #82
This is a good question, I will refer it to our medical advisors. thank you.

[2020-03-22 04:31] r-pop opened #83 "Basic github project hygiene"
I haven't run a github project before and I know I've skipped some steps. If someone has this experience and wants to take on the rest of project setup and dev process, in consultation with me and the major contributors, it's probably time to do that.

[2020-03-22 04:36] r-pop commented on #60
@cjimmy please let me know how to add your name and optionally what link to include.

Others who haven't answered me, ping. :)

[2020-03-22 04:38] r-pop commented on #74
My guess is that these entries were added directly onto form response 1 instead of through the form. If so, we could probably fix by removing these rows and plugging them through the form... but i'm always hesitant to do stuff like that on google forms.

@skimekerr is that what happened?

[2020-03-22 04:54] #42 closed

[2020-03-22 05:36] cchang-adi commented on #81
I submitted a new entry for Seattle Children's and a separate one for the Bellevue clinic mentioned in the FB post. Added new instructions, link, and removed N95's.

[2020-03-22 05:52] cchang-adi commented on #66
Repro'd on Edge on Windows 10. Filters don't work - clicking doesn't hide other states information.

[2020-03-22 05:54] cchang-adi commented on #59
We reverted to plain text but never went back to tags. Should we try those again so they're easier for users on mobile (hard to copy-paste and then open)?

[2020-03-22 06:29] r-pop commented on #59
Ok with me to try again, as long as you test and revert if anything goes
wrong.

On Sat, Mar 21, 2020, 10:54 PM cchang-adi <notifications@github.com> wrote:

[2020-03-22 06:45] liamrosen commented on #75
Still broken on Firefox and Chrome.

[2020-03-22 07:06] r-pop opened #85 "Stand up basic monitoring"
Would like to be alerted if the site goes down, the list of donation locations does not show up, or (stretch goal) one of the data fields stops populating.

[2020-03-22 07:06] #83 closed

[2020-03-22 07:33] eZanmoto commented on #85
I recommend https://uptimerobot.com/ which I can set up, I'll just need email addresses to notify, or it can be set up to notify on Slack or Twitter (no Facebook Messenger, unfortunately). We can set up a HTTP(S) monitor for the main site and a keyword monitor for `data.json` to make sure that it's populated. It will be using five minute intervals for the free tier, but they could be contacted to

[2020-03-22 07:35] r-pop commented on #85
That sounds perfect. We are migrating to slack tomorrow anyway so let's
have it notify there.

On Sun, Mar 22, 2020, 12:33 AM Sean Kelleher <notifications@github.com>
wrote:

[2020-03-22 07:36] r-pop commented on #85
Also I can just pay for the 1 min tier.

On Sun, Mar 22, 2020, 12:35 AM Rachel Popkin <rkpopkin@gmail.com> wrote:

[2020-03-22 08:03] eZanmoto commented on #64
I can't reproduce the jump when clicking a filter, but I do notice a jump when the page first loads due to the Twitter styling being added. I've submitted a hacky PR that adds a fixed height to the Twitter row to resolve this, but it can add a bit of extraneous spacing because we can't know in advance what height we're going to need (unless those tweets are static, in which case we can hard-code i

[2020-03-22 08:54] eZanmoto commented on #85
Perfect, I've set that up to notify the `#uptime-robot` channel in the case that https://findthemasks.com becomes unreachable or `data.json` is blank. I think we can discuss the other tiers further on Slack.

[2020-03-22 12:32] 4kbt opened #95 "Structuring New York City boroughs"
Thinking about marking the cities for the NYC boroughs as

New York - Bronx
New York - Brooklyn
New York - Manhattan
New York - Queens
New York - Staten Island

That'll place the alphabetization into more-traditional order within NYS.

Ok to munge that way?

[2020-03-22 13:59] 4kbt opened #97 "Next steps on adding a map"
Looks like there are a few steps required to make a map happen, based on investigations with @susanashlock last night:

Geocoding: In order to place map pins, geocodes/lat-lons are required. The hospital locations are static, so there are a few different options. Here are some of them:
1. We geocode as the data come in, at the form-level or by hand into the Google Sheet.
2. We have the json-buildi

[2020-03-22 15:00] 4kbt commented on #95
Implemented it -- happy to revert if desired.

[2020-03-22 15:00] #95 closed

[2020-03-22 15:48] r-pop commented on #64
The tweets are static. Well, they are embeds, so theoretically something could change on twitter's side (tweet deleted) to change them. but we are not randomly pulling tweets, it's always those three.

[2020-03-22 15:55] r-pop opened #98 "Scale responses to contact@"
Right now, contact@findthemasks.com is set up as a dreamhost fwd only email address pointing at my personal email. I would like to figure out better handling for email as traffic grows.

I've observed these types of incoming email:
1. Data additions, updates, and takedowns. These should go to the data moderation team. If they could end up posted in the "#data" slack, then people could say they're

[2020-03-22 15:55] #76 closed

[2020-03-22 15:56] 4kbt commented on #64
I can no longer reproduce the scroll-jump. Perhaps it has been resolved?

[2020-03-22 17:15] #73 closed

[2020-03-22 17:17] cjimmy commented on #60
Full name, Jimmy Chion, and link to github account @cjimmy is great.

[2020-03-22 17:32] r-pop opened #99 "Document current data moderation practices on the wiki"
github has a wiki function, and i've made it possible for everyone to edit it (I think). If one of the current data moderators (@4kbt @cchang-adi ?) could document the current process, that would be very helpful.

[2020-03-22 17:32] eZanmoto commented on #98
Emails could be sent to Slack, but it requires a paid Slack plan (https://slack.com/intl/en-ie/slack-tips/send-email-to-slack). In a nutshell, you'll add the Email App (https://slack.com/apps/A0F81496D-email) to Slack and it'll generate an email address for a channel, which you can set up as a forwarding email for contact@findthemasks.com. You could create a channel and email per "topic" to automa

[2020-03-22 17:34] r-pop opened #100 "Remove the need to manually hit the reloadsheetdata endpoint"
Right now this is the last manual step in the update process that takes places outside of the google sheet. would be great to automate it so it fires right before the data.json crontab, eg on the :04 and :09

[2020-03-22 18:23] r-pop opened #101 "Automate importing from other PPE projects"
The PPE distribution cross-project slack is in agreement that job 1 is to start importing data from each other. I have communicated this to all of them:

Ok, we are still working on how to unblock sending data into findthemasks.com - our eng likely need to help with integrations. but to get our data out via code, please read from http://findthemasks.com/data.json . This is the moderated subset of

[2020-03-22 18:33] 4kbt commented on #100
Is it enough to cron a curl / wget , etc. request?

[2020-03-22 18:37] r-pop commented on #101
Cross-project slack: https://join.slack.com/t/ppe-interteam/shared_invite/zt-cy0b70tj-iXJpwL03F7k~UGbXotZ4Nw

[2020-03-22 18:47] 4kbt commented on #99
Will address this early-afternoon.

[2020-03-22 18:47] r-pop opened #102 "Divert large inventory donations to a more appropriate resource"
Coordinating with other projects, we will need to add a pointer from our site to one that is equipped to do logistics + possibly compensation for the transfer of large inventory.

[2020-03-22 19:39] r-pop opened #103 "Design: Improve visibility of donation site list for new visitors"
Received feedback from another project that our site is dire/doom-y and could be improved by
1) moving a jump to donate button above the fold (and above the very dire tweet embeds)
2) mentioning that "A consortium of doctors, hospitals, institutions and grassroots efforts are working together to address the need." In future this will expand to link the consortium page, but it doesn't exist yet.

[2020-03-22 19:40] r-pop commented on #103
I'd like to see some mock up options for 1

[2020-03-22 19:50] cchang-adi commented on #98
On the pricing page, Free users get "10 integrations with other apps like Google Drive, Office 365 and many more" (https://slack.com/pricing), so maybe we don't need a paid plan to use this? Not sure.

In the meantime, maybe create a data-only gmail to forward requests to, and give access to that account to the data team? We could even post a fwd-only data update email to the site that people can

[2020-03-22 19:52] cchang-adi commented on #101
Happy to continue manual importing until we build a solution

[2020-03-22 20:31] eZanmoto commented on #98
I actually tried adding it to test it out, but it said "This integration is only available to workspaces on paid plans."

[2020-03-22 20:43] VaroonJain-VJ commented on #103
This isn't worth spending too much time on at all. In the short term, Rachel your suggestion to augment with link and mention of centralized efforts and institutions spinning up may help greatly.

One major point is MDs do NOT recommend individuals calling hospital charge nurses right now -- hospitals are absolutely overwhelmed.

I suggest editing the "How to donate" content to include a new #1.
#

[2020-03-22 20:44] cchang-adi commented on #98
Ok, I think posting a forwarding address to a data-only email might be the right way to go then.

[2020-03-22 20:47] r-pop commented on #103
I'm ok with that update to the instructions. Ack needing to stop the nurse
calls.

Is getusppe ready for traffic? I still saw stubbed out content, broken
links as of an hour ago.

On Sun, Mar 22, 2020, 1:44 PM VaroonJain-VJ <notifications@github.com>
wrote:

[2020-03-22 21:17] 4kbt commented on #99
A strawman procedure is now sketched out in the wiki.

[2020-03-22 22:37] VaroonJain-VJ commented on #103
I believe they are...best landing page is prob http://getusppe.org/give

[2020-03-22 22:50] r-pop commented on #103
I have addressed the change in instructions (no more calling charge nurses!) and linked getusppe.org/give for uncovered regions.

Still to do:
1. link to the donation site section (need to add anchor)
2. mention of coordination with other efforts

[2020-03-22 23:28] #72 closed

[2020-03-23 00:13] r-pop opened #112 "Eng documentation"
We need to write it. The wiki is a good place.

[2020-03-23 00:14] patricknelson opened #113 "iframe/embed: Generate isolated version of provider listing, linkable/filter by state"
**Include:**
- Prominent but non invasive info on how to add/change/remove healthcare providers.
- How to donate heading (expandible?)
- Filters (state/accepted items)
- Actual provider listing
- Attribution at bottom: "By findthemasks.com" (or similar)

**NOTE:** I will make changes as requirements change, or simply comment below.

---

**Prototype URL now live at: https://findthemasks.com/give.h

[2020-03-23 00:14] r-pop opened #115 "Feature request: search for donation sites by proximity to my zip"
I think this is a short hop from what @susanashlock already did, thoughts? requested by inter-team conference.

[2020-03-23 00:14] 4kbt opened #116 "Map: Prevent multiple pin-balloons from being open simultaneously"
In the beta version, every time a user clicks on a pin, a pin-balloon opens with the hospital information. An arbitrary number of balloons can be opened simultaneously, and the user must close each one individually.

It seems more intuitive/expected to have the open balloon close if the user clicks on a second pin?

[2020-03-23 00:16] r-pop commented on #113
Graeme, this is same thing I chatted about just now as give.html

instead of our who we are link, can it say "by findthemasks.com" at the bottom

[2020-03-23 00:30] patricknelson opened #117 "URL targets for specific states (potentially regions?)"
Find a method to ensure that we can have dedicated landing pages for states, or even regions (if feasible).

Idea: Include query sting params to facilitate filtering via JS, including:

- `state`, accepting ISO 3166-1 alpha-2 code (should be robust, just normalize to lowercase)
- `accept`, filters accepted items via simple text search, maybe using fuzzy search, e.g. https://fusejs.io/ (but literal

[2020-03-23 00:31] r-pop commented on #100
Actually... data vols think this is a feature, gives safety in case of sheet edit human error.

[2020-03-23 00:31] #100 closed

[2020-03-23 00:55] patricknelson commented on #117
Currently getusppe.org has the following portal (noted in slack): https://getusppe.org/states/

findthemasks.com could potentially leverage a similar functionality at OUR level by pulling in filters using query string parameters. Both here and also in the embed noted in #113.

[2020-03-23 00:59] susanashlock opened #118 "Automate geocoding of donation site address data"
Currently there are two columns in the spreadsheet for "Lat" and "Lng".  I've been copying the un-geocoded addresses into a separate sheet and running an Apps Script to geocode the new addresses, then pasting the latitude and longitudes into the spreadsheet.

I've been doing this to avoid running out of geocoding quota, which is easy to do.  (Without a premium plan, I ran out of quota for the day

[2020-03-23 01:04] patricknelson commented on #117
**Future:** Would be awesome to find some way to also target narrow regions, e.g. SF Bay Area and/or Boston, etc. Ideally we'd probably end up using a radius search based on lat/long data (very feasible). Can this be performed client side?

[2020-03-23 01:11] r-pop commented on #77
If we find a good spot, we could link "looking to donate home-sewn masks?" to this resource: https://docs.google.com/document/d/12a5YO0Z9RpHZk9Zkzl4NOj9CbjzhFfoKjPLFFC-21LU/edit

[2020-03-23 01:12] r-pop commented on #113
This is done.

[2020-03-23 01:12] #113 closed

[2020-03-23 01:13] patricknelson commented on #118
If you haven't already, join us on slack!

ppe-interteam.slack.com (http://tiny.cc/PPEinterteamSlack)

#proj-database channel

[2020-03-23 01:18] patricknelson commented on #115
Current map (per #108): https://findthemasks.com/index-map.html

I would love to help work on this. I think it should:

1. Update map results
2. Update listing
3. Search field potentially w/ autocomplete capability, a la https://developers.google.com/maps/documentation/javascript/examples/places-autocomplete-addressform

Missing anything @r-pop

[2020-03-23 01:21] patricknelson commented on #115
Spider food/search keywords:
radius proximity nearby search find close nearest

Other:
hospitals providers healthcare

[2020-03-23 01:22] 4kbt commented on #97
Just updating this issue: Almost all of this has been done. For geocoding, the solution is a hybrid between Options 1 and 2. At present it is by hand, but @susanashlock has a plan to semi-automate the Sheet geocoding in the near future.

A findthemasks-specific key has been secured, sufficient map credits appear to be available.

[2020-03-23 01:26] cchang-adi commented on #65
Verified just now that automated site plays nice with <a> link tags. Will go back and edit plain text links to be <a href="> unless there are technical objections to this change.

[2020-03-23 01:27] cchang-adi opened #120 "Extra whitespace after name of city creates separate city listing"
So far the script does not strip trailing/leading whitespace, so "Las Vegas" and "Las Vegas " show up as different cities. @awong-dev mentioned adding a fix in code to prevent this.

[2020-03-23 02:07] patricknelson commented on #113
Woo! And I presume @Shuhanhe1 will add this on his end? At https://getusppe.org/give/

- How to donate heading (expandible?)

[2020-03-23 02:08] patricknelson commented on #113
Linking relevant PR #111

[2020-03-23 02:08] Shuhanhe1 commented on #113
yes that is correct!
can you clarify how to donate heading?
Shuhan He

On Sun, Mar 22, 2020 at 10:07 PM Patrick Nelson <notifications@github.com>
wrote:

[2020-03-23 02:14] patricknelson commented on #113
This section on the findthemask.com site. Ideally if we’re showing large amounts of folks WHERE to donate we need to insure they’re properly informed on HOW 😁

![5EFC6858-3B05-4093-A7C4-9D1533026104](https://user-images.githubusercontent.com/4269377/77273613-456b8500-6c71-11ea-800b-f36f73af8a45.jpeg)

[2020-03-23 02:19] r-pop commented on #113
On the call, shuhan had his own content for that I thought, that also
explained what each type of ppe was.

If you want us to include how to donate in the iframe we can do that.

On Sun, Mar 22, 2020, 7:14 PM Patrick Nelson <notifications@github.com>
wrote:

[2020-03-23 02:31] Shuhanhe1 commented on #113
yes we currently use the CMS to give that info instead of the iframe. I
would keep the iframe to just the information

[image: image.png]
Shuhan He

On Sun, Mar 22, 2020 at 10:19 PM Rachel Popkin <notifications@github.com>
wrote:

[2020-03-23 02:50] raindrift opened #124 "Link for people who can't find a hospital no longer makes sense"
There's a link on the site: "If there's not a site near you, visit our friends at getmeppe.org to let them know what you have available."

The link points to GetUsPPE, which now just embeds findthemasks.

We could instead link to or embed the PPELink donation form: https://ppelink.wordpress.com/ppe-donations/

Our existing volunteers can then find donation sites for people who fill it out, and cre

[2020-03-23 02:58] r-pop commented on #124
Let's do that. Great catch.

On Sun, Mar 22, 2020, 7:50 PM Ian Baker <notifications@github.com> wrote:

[2020-03-23 02:59] r-pop commented on #124
Link please, embed will push content too far down.

On Sun, Mar 22, 2020, 7:58 PM Rachel Popkin <rkpopkin@gmail.com> wrote:

[2020-03-23 03:59] cchang-adi commented on #74
@4kbt valiantly re-entered every Allegro Pedatrics location into the form so that there are entries for Allegro that no longer keep going down. I think we can probably safely delete the buggy rows but am holding off on that.

[2020-03-23 04:04] cchang-adi commented on #77
A few hospitals on our list have explicitly called for homemade masks and even provided links to patterns. There at least should be a filter category for this option, or even an explicit form checkbox, since they seem to want it.

[2020-03-23 04:08] 4kbt commented on #74
Agreed -- now may be a good time to remove those rows, especially if there is any attempt to copy-paste/munge the PPELink rows directly into the findthemasks Sheet.

[2020-03-23 04:09] susanashlock commented on #118
Update: I'm working on this now, have made good progress; with luck should have something live in the next hour.

[2020-03-23 04:15] raindrift commented on #77
I think the right thing to do here is to link to maskforce.org, or maybe even directly to their intake form (https://airtable.com/shrCKIswWL0E5lrXk). They ask a lot of very specific questions, like what materials are acceptable, what the mask will be used for (to cover an n95?), and whether the hospital has a specific design they want used. I think it makes more sense for us to send people there t

[2020-03-23 04:17] jenninoordhoek commented on #77
Airtable has an embed code and an API - problem with API is it will only take 5 calls per second, but hopefully that doesn't apply to the form.

[2020-03-23 04:30] r-pop commented on #77
As next step, we need a designer to think about how this locks up with the existing content. Perhaps a call-out with two diversion to other efforts:

Maker? Sewing masks? -> maskforce.org
Large inventory to donate? -> [appropriate resource that can do logistics/funding TBD from the intergroup, suggestions welcome]

[2020-03-23 04:30] r-pop commented on #77
@cjimmy maybe something to look at tomorrow

[2020-03-23 04:38] jenninoordhoek commented on #77
And then circle back to the same distribution? because sewn masks and donated masks from individuals need to be the same channels.

[2020-03-23 04:45] #118 closed

[2020-03-23 05:09] raindrift commented on #77
I spoke with Danielle, and she's on board for having our forms mutually link to one another. I'll go ahead and put together a PR for this that at least does the linking, pending some more pleasant design.

[2020-03-23 05:24] susanashlock opened #126 "Feature request: add link to Google Maps directions for each dropoff location's address"
Would require adding a link to:
https://www.google.com/maps/dir/?api=1&destination="<ADDRESS>"

(Origin of directions defaults to user's location if they have location-detection enabled; otherwise an empty field for them to fill in)

Could add link to addresses in:
- list of places
- InfoWindows on map

[2020-03-23 05:37] patricknelson commented on #118
What’s the mechanism for this? Is this associated with a pull request? I don’t see a note in this ticket about it. Also, checked the spreadsheet and still seeing lots of entries missing lat/long. Got details on how this was implemented? Thanks for the work!

[2020-03-23 05:42] patricknelson commented on #118
Oops, nvm. Could just be that this is actively being updated. I’m on my iPad so my app may have limited functionality (in case there’s a button). It does look like many of the lat/long coords are being populated now (only one missing at the time I’m writing this and I’m sure it’ll drop in soon maybe).

[2020-03-23 05:48] 4kbt opened #129 "Documentation request: short summary of the data/code flow from form-entry to site"
It will be easier for people to help if we can point them at a short summary of how data flow from the form to the site.

Key layers (off the top of my head):
Form
Google Sheet (including perpetual geo-code Apps Script from @susanashlock )
Human moderation/data-cleaning (see existing wiki)
Firebase
Cron-deploy
Site

The wiki is the natural place for this short document to land?

[2020-03-23 06:22] 4kbt opened #131 "States without an included hospital"
HI, AK, ND, SD, WY, SC, AR, DE, IN, WI

Only 10 to go before we can reach @r-pop's goal of breadth.  As new masks begin to flow toward urban hotspots, broad coverage will be increasingly essential.

[2020-03-23 07:53] #120 closed

[2020-03-23 07:59] patricknelson commented on #115
I was thinking from a UI/UX perspective. See my screenshot hack below!

1. A text field where you can enter any arbitrary address can be added.
2. A button to submit  (right side)
3. A link to integrate the navigator.geolocation so it's not ONLY on page load

![2020-03-22_23-38-39](https://user-images.githubusercontent.com/4269377/77294441-87142400-6ca1-11ea-9038-0d77d2040d33.png)

[2020-03-23 08:28] patricknelson commented on #117
Fixed in #134

[2020-03-23 08:28] #117 closed

[2020-03-23 08:36] patricknelson opened #140 "www.findthemasks.com should redirect to findthemasks.com"
This should help reduce likelihood of duplicated content. Also ensure everyone is linking to the same URL's. The redirect should be a perm redirect (301) and should retain the request URI (i.e. if you go to https://www.findthemasks.com/give.html?state=ca it should redirect you to https://findthemasks.com/give.html?state=ca).

[2020-03-23 09:12] patricknelson commented on #28
I think this ticket can be closed as a map is now embedded already on the site using cached lat/long coordinates already stored in the source data ([feed](https://docs.google.com/spreadsheets/d/1GwP7Ly6iaqgcms0T80QGCNW4y2gJ7tzVND2CktFqnXM/edit#gid=2027792507)).

[2020-03-23 09:13] patricknelson commented on #116
This ticket should be closed, as #123 is now merged 😄

[2020-03-23 09:39] patricknelson commented on #97
@4kbt can you change the title of this issue to being strictly about funding for the Maps API? I believe this is now fully implemented. As far as the google maps **geocoding** is concerned,  @susanashlock has fully implemented something (which I don't have visibility into). But the number of requests has got to be well below the free tier threshold since it's probably only done once or twice per e

[2020-03-23 09:49] patricknelson opened #142 "Incorporate map into embedded/iframe view."
Just tracking as a ticket (as I've seen this noted before in slack).

Right now http://findthemasks.com/ incorporates the map but https://getusppe.org/give/ does not, and soon they will be getting a bunch of attention. Would be awesome for the map to be immediately visible there, as that makes it extremely easy to instantly find nearby hospitals.

[2020-03-23 09:51] patricknelson commented on #129
Would like to see that documentation placed into [the wiki](https://github.com/r-pop/findthemasks/wiki) and then called out in the main `README.md`.

[2020-03-23 12:47] alex opened #143 "Uncaught ReferenceError: google is not defined"
This seems to happen non-deterministically. When this happens, neither the map nor the list content are rendered:

[code]

[2020-03-23 12:50] alex commented on #143
The problem is that the `<script>` for Google Maps is `async defer`. This means that it may load _after_ `DOMContentLoaded` fires.

[2020-03-23 13:20] 4kbt commented on #143
Awesome!  We'd been trying to understand that one for a while! @susanashlock

[2020-03-23 14:40] susanashlock commented on #118
I documented how this works in the wiki and am pasting here for reference:

Addresses are stored in the "Street address for dropoffs"? column of the spreadsheet.

An Apps Script called "fillInGeocodes" automatically runs every 10 minutes to fill in data in the Lat and Lng columns.

You can also force this script to run. To do so from the spreadsheet, open "Tools", then "Script Editor". You should

[2020-03-23 14:56] susanashlock opened #144 "Geocoding breaks daily"
When I run the geocoding script (Apps Script, accessible from Tools > Script Editor in Google Sheets), I now get this error:

Exception: Service invoked too many times for one day: geocode. (line 38, file "Code")

According to this documentation, it might not be possible to work around in Apps Script: https://developers.google.com/apps-script/reference/maps/maps#setAuthentication(String,String)

R

[2020-03-23 14:59] susanashlock commented on #97
I've been working with folks at Google on funding API calls for the map.  I think we're good to go now.

[2020-03-23 15:30] susanashlock commented on #144
Update: I have a manual workaround that will work for now (running geocoding Apps Script in another account I have).  Not ideal, but it will work fine for the next day or so.

[2020-03-23 16:12] r-pop opened #146 "Copy the more clear form link text that's on give.html to index.html"
New text makes it more clear that changes/removals also happen through the form. I am getting emails about these, and we can update faster if they use the form!

[2020-03-23 16:13] r-pop commented on #140
Hi, I don't think this is necessary. I have dreamhost set up to allow both www. and bare, and the content is the same. no duplication.

[2020-03-23 16:14] r-pop commented on #140
If you disagree please explain more thoroughly

[2020-03-23 16:27] r-pop opened #147 "Start listing mask-runner pickup projects?"
eg Seattle: https://sites.google.com/view/seattle-mask-donations/home

I think we can just enter the "mask runner" projects into our form as a first version. If we enter street address as "mobile - they come to you to pick up" will that confuse any code?

[2020-03-23 16:46] mdturner opened #148 "Add link to list of approved respirators"
The FDA has issued an emergency use authorization for certain non-medical respirators to be used in medical settings (see the 'Personal Protective Equipment' section at https://www.fda.gov/emergency-preparedness-and-response/mcm-legal-regulatory-and-policy-framework/emergency-use-authorization#2019-ncov).  The list of approved respirators is currently at https://www.fda.gov/media/135921/download.

[2020-03-23 16:51] graemer opened #149 "Add ability for give.html to dynamically display filters & map via query-params"
For external consumers, we need a few additional query param capabilities for the embed resource.

Specifically,

`?show-map=true/false` - drives visibility of map component; if false, the maps API should not be hit

`?show-filters=true/false` - drives visibility of filters. this will be used for per-state pages within partner sites, who will use the ?state=WY, etc. for filtering content

Maybe...

[2020-03-23 17:32] r-pop commented on #131
Suggestion on how to call hospitals:
1. make sure they're not already in our data by looking on findthemasks.com
2. Have our form pulled up and just enter the data straight in - that will also help provide a script. https://docs.google.com/forms/d/13-Hl2fW16zMy1zRuXJSlCouWsw7toTygDe1FjNfcnIg/edit
3. call, ask for charge nurse ("which one?" "ER")
4. ask if they accept PPE donations from members of

[2020-03-23 17:44] #146 closed

[2020-03-23 18:04] ctavispost opened #150 "Feature request: bottom nav bar"
Goal: communicate purpose and let people quickly find what they want

Bottom nav is easier to reach on mobile, which is our main source of traffic. It should increase 'conversions' without getting in the way of the content.

Examples:

![navBottWires](https://user-images.githubusercontent.com/39510844/77347939-da17c680-6cf5-11ea-950f-e10c4127802e.jpg)

[2020-03-23 18:42] r-pop commented on #103
Added jump link from top of page to donation/add a site section

[2020-03-23 18:44] ctavispost commented on #150
Wireframes from https://www.figma.com/file/8yOxUOoKRZepq48or7MNGa/findthemasksNav?node-id=0%3A1

![Group 3](https://user-images.githubusercontent.com/39510844/77351762-75f80100-6cfb-11ea-808a-e73ae57f4dc7.png)
![Group 2](https://user-images.githubusercontent.com/39510844/77351767-785a5b00-6cfb-11ea-9aea-723860d5f04a.jpg)

[2020-03-23 18:52] r-pop opened #152 "Design: make masks images less prominent as we increase scope to all PPE"
I need help with this. Requests coming from PPElink and others who are sending institutional traffic our way.

Feedback from Zahra/PPElink:
- appeal is fine, communicates urgency and is still accurate
- jump link to add/donate helps (added by r-pop, could be styled better)
- mask images overshadow need for other PPE, that section could be redesigned to be more inclusive

@cjimmy @graemer thoughts?

[2020-03-23 19:34] #149 closed

[2020-03-23 19:44] elainemacurdy commented on #144
Have you considered using an alternative to Google (which is wicked expensive and has low rate limit thresholds)? We have a task on our backlog to switch to HERE: https://developer.here.com/products/geocoding-and-search

[2020-03-23 21:35] patricknelson commented on #140
It's just a best practice to ensure only one domain is in use; see more here: https://support.google.com/webmasters/answer/66359?hl=en

Alternatively, you could "canonicalize" with the appropriate meta tags, see: https://moz.com/learn/seo/canonicalization, e.g.

[code]

Unfortunately that would need to be done for every single page (with the appropriate URL plugged in). Usually it's just easier to

[2020-03-23 21:37] patricknelson commented on #97
Awesome! @susanashlock If you're comfortable, please confirm I'll withdraw my backup API key for `findthemasks.com` (which I've got setup and backed w/ a CC, shared via Slack).  Let me know! thanks.

[2020-03-23 21:45] r-pop opened #154 "Import from airtable on getusppe.org"
We are getting the data normalized into our format by a volunteer on the big slack. Once ready, we'll need to import into our donation site form without breaking the moderation publish flow. it's an eng task.

[2020-03-23 21:46] r-pop opened #155 "Request from getusppe.org state pages: zoom map to state on desktop OS"
Customer is Carl Mueller on the big slack. Is this feasible?

[2020-03-23 21:46] r-pop commented on #155
@susanashlock

[2020-03-23 23:58] susanashlock commented on #155
Sounds like Nate Burt might be working on this.  To get clarity on what the request is: is the request that we default to zooming in on the state that the user is in?  If so, I'm not sure that that's ideal behavior.  e.g. consider someone who lives in NY city.  We currently zoom in to the 3 nearest dropoff sites.  I'd be inclined to bump up this number to ~10, rather than zoom to state level.

But

[2020-03-24 00:00] raindrift opened #160 "Add i18n"
Make all the strings translatable

[2020-03-24 00:00] raindrift commented on #160
Working on this now.

[2020-03-24 00:08] r-pop opened #161 "DATA INPUT SWARM!"
Ok peeps, we've got a data entry blitz again.

1. Open the new data sheet: (https://docs.google.com/spreadsheets/d/144AkG-RSnB-AntD-7B7T6IGqt3W9Dxa7es6D9LhaAXk/edit?usp=sharing)
2. Comment here to claim a group of rows. Please take in units of 20, eg "I'll take 2-20!" "I'll take 21-40!" etc.
3. For each row, FIRST check if dupe by searching our live site at findthemasks.com (don't mess with filter

[2020-03-24 00:23] jlittenberg commented on #161
Do you want us to finish filling in the info for the places you already have the name of the clinic/hospital?

[2020-03-24 00:24] alexisjulia commented on #161
Hi Rachel, I'll take rows 2-20. =)

[2020-03-24 00:24] r-pop commented on #161
Not in the sheet (you won't be able to edit it), but yes into the form (step 4). you may need to google the address of the hospital, if they didn't provide it.

[2020-03-24 00:25] jlittenberg commented on #161
Ok thanks.

[2020-03-24 00:26] jlittenberg commented on #161
Looks like I’m the first, I’ll take 1-20

[2020-03-24 00:26] alexisjulia commented on #161
No I took those!

[2020-03-24 00:26] r-pop commented on #161
@jlittenberg you aren't! please refresh, and take the next unclaimed batch.

[2020-03-24 00:34] alexisjulia commented on #161
Hey Rachel, Shouldn't we call the hospital and get instructions and exact address for drop-off when filling in the form? Or just fill in what comes up on Google?

[2020-03-24 00:37] alexisjulia commented on #161
Also I'll just do 21-40 so me & @jlittenberg don't replicate

[2020-03-24 00:41] r-pop commented on #161
PAUSE THE BLITZ. @alexisjulia good catch. there was supposed to be something in that field.

[2020-03-24 00:43] alexisjulia commented on #161
Haha okay @r-pop!

[2020-03-24 00:49] r-pop commented on #161
Ok I think we are ready to unpause. You will need to start at the beginning. This is messier, but complete. Please let me know if you run into more issues.

[2020-03-24 01:05] susanashlock commented on #97
@patricknelson not sure what you mean by 'backup key', but here's what I've got:

I received $2500 in credits from Google Maps API.  At our current rate, that should work for us for ~50 days.  I think we should monitor for a few days. If it looks like we'll run out soon-ish, we can start looking into alternative solutions.  (Other mapping providers).

[2020-03-24 01:29] graemer commented on #155
@susanashlock this is in support of https://getusppe.org/portfolio/utah/ pages.

These use give.html?state=ut so we do two things:
1. Zoom to the state-level (this is merged, though it seems a little too zoomed out)
2. Filter out all map locations other than those in UT... @nburt is picking this up.

[2020-03-24 01:31] graemer commented on #142
This is done.

give.html?hide-map={true/false}

[2020-03-24 01:31] #142 closed

[2020-03-24 01:43] ctavispost commented on #152
PPElink has a list I can work from to try to sketch up some quick icons. I might not illustrate all of them, but if we get a cross-section, that should be good, right? We could add the list in bullets, as well, if we wanted to.

- N95 respirators
- Surgical masks
- Protective glasses/goggles
- Nitrile gloves
- Head covers
- Face shields
- Disinfectant wipes

[2020-03-24 01:51] r-pop commented on #161
PS, if you want to help, unclaimed rows start at 40 and we are open for data entry!

[2020-03-24 01:53] volantwish commented on #66
On Edge, I'm not seeing the map, filters, or list display at all...the error in the console is `Object doesn't support property or method 'flat'`, pointing at [this line](https://github.com/r-pop/findthemasks/blob/a83cdc635af6cf3246868ac0302760455530d6d0/public/locations-list-map.js#L236). We're going to need to replace the arrow functions throughout the JS for IE/Edge support. If anyone's picking

[2020-03-24 01:56] ctavispost commented on #152
For example:
![Shape 29](https://user-images.githubusercontent.com/39510844/77380271-efade000-6d37-11ea-9146-a3ed4e185efd.png)
![Shape 32](https://user-images.githubusercontent.com/39510844/77380273-f0467680-6d37-11ea-9211-2febbc5c11e6.png)
![Shape 31](https://user-images.githubusercontent.com/39510844/77380274-f0467680-6d37-11ea-94e2-1f6f47dfd4d5.png)
![Shape 30](https://user-images.githubusercon

[2020-03-24 02:08] ctavispost commented on #152
Alternatively, we could switch one of the mask images for this free image from the CDC, and add a caption like, "Medical workers need protective equipment like gloves and scrubs."
![cdc-_N7I1JyPYJw-unsplash](https://user-images.githubusercontent.com/39510844/77380881-98a90a80-6d39-11ea-862d-98848b8fc67e.jpg)

[2020-03-24 02:08] r-pop commented on #150
I don't think we should add more nav... it's still a simple site, and graeme is working on making the intro content smaller.

[2020-03-24 02:09] #124 closed

[2020-03-24 02:10] #103 closed

[2020-03-24 02:10] #101 closed

[2020-03-24 02:10] #99 closed

[2020-03-24 02:11] r-pop commented on #97
Is this issue ready to be closed?

[2020-03-24 02:11] #97 closed

[2020-03-24 02:13] nburt commented on #155
I picked up a sane zoom that worked for all states (except a special case for Alaska) to start. I can fine tune them a bit manually without too much effort so that. they aren't too zoomed out and will have a pr up soon

[2020-03-24 02:13] #85 closed

[2020-03-24 02:14] #77 closed

[2020-03-24 02:15] r-pop commented on #75
Got a report from IE and Chrome today, same behavior Chrome incognito. Windows, enterprise-enrolled device. "I noticed that the list of donation locations is not showing up on my desktop (I tried IE and Chrome). It shows up just fine on my phone; not sure if it has something to do with my work laptop's settings or if this is a known issue."

[2020-03-24 02:20] patricknelson commented on #97
Awesome, thanks @susanashlock. I created an API key in my personal GCP account associated with my credit card (`AIzaSyDyCysYme3yMJyRoBoXYOS76-CcKzwQOpw`) and I was prepared to cover all costs with the map at least until we could come up with a good long term solution to cover costs. Given the short notice, I wanted to ensure we didn't lose the map in case we were crushed with traffic.

Alternative

[2020-03-24 02:21] volantwish commented on #66
Oops, was looking at the wrong line. I've got a fix for Edge. There's still more work to do for older IE, though.

[2020-03-24 02:28] volantwish opened #166 "Support older browsers"
Followup to #66  to add support for older browsers (https://caniuse.com/#feat=arrow-functions)

[2020-03-24 02:29] alexisjulia commented on #161
Done!

[2020-03-24 02:33] raindrift opened #167 "Add a language selector"
Once https://github.com/r-pop/findthemasks/pull/164 is merged, we'll be able to do multiple languages. We will default to the browser locale, but it's good to have a language selector on the page for people who have that misconfigured.

[2020-03-24 02:35] nburt commented on #155
https://github.com/r-pop/findthemasks/pull/168

[2020-03-24 02:38] alexisjulia commented on #161
I'll do 41-60 now

[2020-03-24 03:13] patricknelson opened #170 "iframe/embed: Facilitate flexible height to eliminate double scrollbars (low priority, "nice to have")"
**Goal:** Would make it possible to ensure that the content inside the iframe isn't clipped by a static height, thus resulting in double scrollbars. Particularly useful when there is variable height.

**Implementation:**  Can be performed using a third party library http://blog.apps.npr.org/pym.js/ which runs both in the parent window and child window.

Parent:

[code]

Child (simplified):

[code]

[2020-03-24 03:29] amchassanoff commented on #161
I'll take 61-80

[2020-03-24 04:04] patricknelson opened #171 "Bug when filtering by state on embed/iframe"
Happening only on https://findthemasks.com/give.html

![2020-03-23_21-03-17](https://user-images.githubusercontent.com/4269377/77387176-e6c60a00-6d49-11ea-8d42-4da89ce07d6f.png)

[2020-03-24 04:10] fquerdasi commented on #161
I'll take 81-100

[2020-03-24 04:14] patricknelson commented on #171
Fixed by #172

[2020-03-24 04:14] #171 closed

[2020-03-24 04:20] amchassanoff commented on #161
note there are multiple urgent care chains sometimes -- i'm picking the first address unless other ideas

[2020-03-24 04:21] fquerdasi commented on #161
What should we do if we can't find some of the info on the form?

[2020-03-24 04:22] patricknelson commented on #155
Done, can close 😄 awesome work @nburt

[2020-03-24 04:23] amchassanoff commented on #161
If it supplies I've been checking "other" and writing "not specified"
If it's address, i've been picking the first one
If it's open boxes, write in "unsure"

[2020-03-24 04:32] patricknelson commented on #166
Template literals as well, if supporting IE11: https://caniuse.com/#feat=template-literals

Would be great to have analytics stats on this. I know on our websites we typically drop support for browsers that are at or below 2%-3% market share (just to save on dev resources).

[2020-03-24 04:42] patricknelson commented on #140
Closing; not really worthwhile, considering the testing/validation effort 😄

[2020-03-24 04:42] #140 closed

[2020-03-24 04:55] fquerdasi commented on #161
Done with 81-100. Note that in most cases I couldn't find specific instructions for delivery/drop-off.

[2020-03-24 05:20] per1234 commented on #161
I'll take 101-120!

[2020-03-24 05:26] supertriceratops commented on #161
I'll take 121-140

[2020-03-24 05:29] staceyhanson commented on #161
Working on 141-160

[2020-03-24 05:32] awong-dev commented on #150
Honestly the lack of nav actually got in my way of usage today on the phone (I donated some masks I found!).  If this is easy, it's a nice-to-have as we have motivated users who will grit through scrolling.

Agreed though that it should be extremely basic and low visual weight.

[2020-03-24 05:59] per1234 commented on #161
I'll take 161-180!

[2020-03-24 06:29] per1234 commented on #161
I'll take 181-200!

[2020-03-24 06:42] liamrosen opened #177 "findthemasks.com branding still appears momentarily when loading https://getusppe.org/give/"
Perhaps will be solved with the website cutover @r-pop?

https://i.imgur.com/6yiU4YL.png

Mozilla Firefox, latest version

[2020-03-24 06:43] supertriceratops commented on #161
Whoops, I accidentally entered in two that were already on the site:
- Edward Hospital (in Naperville, IL)
- AdventHealth Hendersonville

There are some data issues with a few of mine serious enough that I didn't want to enter them:
- I skipped 122 since it is for Kaiser Los Altos, and as far as I can figure out there is no Kaiser in Los Altos.
- I skipped row 124 for "Kaiser Permanente GA Region"

[2020-03-24 06:58] per1234 commented on #161
I'll take 201-220!

[2020-03-24 07:22] per1234 commented on #161
I'll take 221-240!

[2020-03-24 07:49] per1234 commented on #161
I'll take 241-260!

[2020-03-24 08:14] per1234 commented on #161
I'll take 261-280!

[2020-03-24 09:47] per1234 commented on #161
I'll take 281-300!

[2020-03-24 10:13] per1234 commented on #161
I'll take 301-314!

[2020-03-24 10:29] per1234 commented on #161
The spreadsheet is now finished.

[2020-03-24 16:05] amchassanoff commented on #161
you all are AWESOME

On Tue, Mar 24, 2020 at 6:30 AM per1234 <notifications@github.com> wrote:

[2020-03-24 16:54] susanashlock commented on #144
A third possible solution that occurred to me: have functions/index.js update the spreadsheet.  In theory, the code that's checked into public/scripts/fill-in-geocodes.js could be called from index.js.

Of course, the call to getActiveSpreadsheet() would need to be updated.  And we'd need to set up the script to use the Google Maps API.  But otherwise the logic should be similar.

[2020-03-24 17:01] ctavispost commented on #150
Implementation isn't difficult. I've got it running on: https://ctavispost.github.io/findthemasks/public/index.html

It requires two custom CSS classes, IDs added to three tags, and a five item UL in a nav container.

As it stands, the page is a bit long, it doesn't have a clear declaration of purpose, and it isn't initially obvious what people should do other than read more. The near-top nav text

[2020-03-24 17:29] alexisjulia commented on #161
Done!

[2020-03-24 19:03] patricknelson commented on #115
p.s. Method for auto suggesting addresses while typing: https://developers.google.com/maps/documentation/javascript/examples/places-autocomplete-addressform

[2020-03-24 19:42] 4kbt commented on #131
Up to 49 states!  AK is missing . Haven't grepped for the other. Almost to 51 (PR included)!

[2020-03-24 20:47] csakoda opened #184 "Document local development best practices"
We are lacking an easy quickstart for new devs to get the various pieces of the site up and running for local development iteration.  We should add detail to the README making it easy for new devs to join the effort.

[2020-03-24 20:48] csakoda opened #185 "Create a staging deployment environment"
To aid in the group development of the frontend and backend assets, we should create a staging environment that is discrete from production resources so we can test deploys of new versions without risking continuous access to the data we've already made available.

Related or perhaps alternatively, if we can document a pattern for a dev setting their own Google Sheet to play with, we may be able t

[2020-03-24 20:49] csakoda commented on #184
I would like to pick this up

[2020-03-24 22:34] r-pop commented on #161
You all are wonderous beings. If you would like a mention on findthemasks.com/whoweare.html, I would be delighted to add you there. Just let me know what name or username you want displayed, and (optionally) where to link it to .

[2020-03-24 22:47] volantwish commented on #155
Verified! Closing.

[2020-03-24 22:47] #155 closed

[2020-03-24 22:48] #143 closed

[2020-03-24 22:49] #116 closed

[2020-03-24 22:50] #71 closed

[2020-03-24 22:51] #66 closed

[2020-03-24 22:52] #65 closed

[2020-03-24 22:59] #56 closed

[2020-03-24 23:01] #28 closed

[2020-03-24 23:03] #16 closed

[2020-03-24 23:04] #9 closed

[2020-03-24 23:04] #2 closed

[2020-03-24 23:08] #161 closed

[2020-03-24 23:14] #58 closed

[2020-03-25 00:18] raindrift commented on #185
For the frontend, it seems like loading the production `data.json` would make for the most realistic test. As someone who's broken the site twice now, I would appreciate such an environment. :)

[2020-03-25 02:42] drwestco opened #191 "deploy.sh can't be used for topic branches"
Want to be able to deploy and test topic branches. deploy.sh clobbers these with what's in master; have to comment out these lines or not use the script.

[code]

[2020-03-25 02:44] drwestco commented on #191
Related to large issue #185, creating a staging environment

[2020-03-25 04:39] supertriceratops commented on #161
You can add my name "Caitlin Sadowski" linked to https://research.google/people/CaitlinSadowski/

Also, pasting my update above here to make sure you saw it:

[2020-03-25 05:01] csakoda opened #193 "Deduplicate our dataset"
As discovered by our data moderators, we have duplication of records in our core dataset, and some tooling would be helpful in identifying and resolving them.

Initial thought from @awong-dev

Does anyone have any initial ideas of what rules we want to apply?

[2020-03-25 05:38] raindrift opened #195 "Don't display the full list of hospitals by default"
The complete hospital list isn't useful. It's just waaaay too long now (which is awesome, that there are so many). In some states (like DE), it's still short enough to be worthwhile when filtered by state, but in CA even the filtered list is way too long.

I think what makes more sense is to automatically filter the list to display what is shown on the map at its current zoom level. Adding a butto

[2020-03-25 05:39] raindrift opened #197 "Filter the map by accepted items"
Right now the item selector filters the list, but the map remains unchanged. It would be handy if the map and the list were more integrated (see #195 for more on this)

[2020-03-25 05:49] graemer commented on #197
Go ahead with this. We'd like the map and list components to reflect the same sites, dependent upon the filters that are set. This already works for the `state` query param, but it's a bit janky as when I change the filter from CA (what the query param set) to CO (via the UI), the map doesn't update.

[2020-03-25 05:50] graemer commented on #195
Hold off on this one for now. Let's figure out a solution for better sorting (by nearest to me), search, or filters before we start trimming the list.

[2020-03-25 06:13] patricknelson commented on #160
🐿 Shipped! Can close.

[2020-03-25 10:18] #144 closed

[2020-03-25 12:48] volantwish commented on #160
🎉

[2020-03-25 12:48] #160 closed

[2020-03-25 12:49] #31 closed

[2020-03-25 16:24] drwestco opened #202 "Filter the map for multiple states"
For single-state query: give.html?state=WA, the map view is set to the center+zoom of that state, and only pins for that state are shown. Filters and list match the map - only results from WA.

For multi-state query: give.html?state=WA,ID, the map view and pins represent the entire US. Filters and list correctly set to only show results for the two requested states.

[2020-03-25 16:31] drwestco commented on #202
#197

[2020-03-25 16:34] #202 closed

[2020-03-25 16:35] drwestco commented on #197
Multiple-state query is a special case of this. If the map and list/filter view was always in sync, this would be covered.

For single-state query: give.html?state=WA, the map view is set to the center+zoom of that state, and only pins for that state are shown. Filters and list match the map - only results from WA.

For multi-state query: give.html?state=WA,ID, the map view and pins represent the

[2020-03-25 16:40] drwestco commented on #197
I'm going to tackle this one.

[2020-03-25 19:13] 4kbt opened #205 "After the dupe-detector runs, how many dupes remain?"
In order to decide how much moderator effort to expend on de-duping, we need to know how many duplicates survive the Sheet-tab dupe detectors.

How many new entries are dupes after the dupe-detector is cleared? 1%? 5%?

What do those dupes look like?

[2020-03-25 19:39] 4kbt opened #206 "Data: Categorizing recipients"
It is very likely to be useful in the future to have some metadata on our recipients list. In particular, it seems useful to do some broad categorization.

Someone can

1. Skim through the data and develop a tentative list of categories. Ideas include (Hospital, Nursing Home, Doctor's Office, Rehab, Mental Health, Addiction, Pharmacy, Dentist, EMS, Public Health)

Delivery-categorization may also

[2020-03-25 19:57] r-pop opened #208 "Map loading slowly - add progress indicator"
we've reached a point where the map takes a noticable second to display on pageload. Can we as a stopgap put a "Loading..." indicator in its place

The text "Loading..." is fine

[2020-03-25 20:14] r-pop commented on #208
This is what it looks like while loading. It looks like there is no data. We need to say "Loading list of donation sites..."
![slowload](https://user-images.githubusercontent.com/11252938/77581197-81356300-6e9a-11ea-8748-bfce960af80e.png)

[2020-03-25 20:19] 4kbt opened #209 "Backing up raw Google Form-input to a second location"
At the moment, the intake form directs data to Form Responses 1, and we edit it directly from there.

In particular, we are editing the "address" field directly, and we're doing it to every row. If the initial information is lost, we will never get it back.

Is there a way to save a copy of the raw form-output as it lands in Form Responses?

[2020-03-25 20:23] awong-dev commented on #185
So there are 2 major forks of work:
  (a) Staging of the frontend code (what most of y'all have been working on)
  (b) Staging of the cloud functions.

For (a), there is a clear path forward. The set of steps are as follows
  (1) Create a production branch off master. Change deploy.sh to pull from production instead of master.
  (2) Change deploy.sh to so it does the git sync/rsync steps a second

[2020-03-25 20:24] awong-dev commented on #191
Hmm... I think we can just do a git reset --hard origin/topic-branch for each one we want to push?

Though, I personally think we should only do origin/staging.

If we want to view topic branches live, we should set up heroku integration and spin up a PR app.

[2020-03-25 21:33] patricknelson commented on #185
Could we graph out the current server architecture? Here's what I know so far from what I've picked up or hunted down on my own to get the "lay of the land":

- findthemasks.com
  - CDN/WAF: Cloudflare
  - Server: Dreamhost (LAMP) shared hosting, so Apache web server with
  - Node/NPM installed server-side with scripts that interface with Firebase (installed under `/functions`)
  - Deploy PHP scri

[2020-03-25 21:34] csakoda commented on #185
Sheets? 😂

[2020-03-25 21:36] csakoda commented on #185
Isn't the other way around a bit more natural? `master` branch is the up to date blessed code running production, and feature branches are made from master and then merged via PR.  And then we can deploy any arbitrary branch, not just the code that's been merged into the staging branch.

[2020-03-25 21:37] csakoda commented on #185
Happy to figure this out, I had a glimpse of how local can work and from there staging is just a hosted copy of that with a deploy mechanism wrapped around it.

I'll plan to put some time in on this tonight.

[2020-03-25 21:49] patricknelson commented on #185
This is what I have my team doing. We have 4 pre-production environments and each one serves different purposes. In this case we probably only need just one, but that environment (known here as `stage`?) would be where you can deploy any arbitrary branch.  That said: Ideally you'd have a branch (maybe a throwaway branch that you can rewrite from time to time, discard, branch back off `master` agai

[2020-03-25 22:36] awong-dev commented on #185
Patrick's description of architecture is pretty much spot on. The design philosophy was to produce a 100% static site. We don't even use php for anything user facing.

As for branching strategy, we can do whatever folks are comfortable with. What I've been used to is having master be volatile, staging be pushed to something like staging.findthemasks.com where one can examine potential issues with

[2020-03-25 22:56] #154 closed

[2020-03-25 22:57] r-pop commented on #161
@supertriceratops I did see it, and the data mods read it. we are underwater with comms since this is a rapid response project. Thank you!

[2020-03-25 23:23] patricknelson commented on #185
Just asking for a quick clarification, but:

Those are the `staging` branch and `production` branches, correct?  Also, if `master` is volatile, it's still considered "blessed" canon (so to speak), correct? That is, it's been thoroughly tested (in `staging` branch) but not merged into `master` until we're relatively certain it's golden, right? Just clarifying your intent. If so, we're still fairly

[2020-03-25 23:36] csakoda commented on #185
Though I spoke against master being volatile I have no serious opinion, happy to work in the system @patricknelson has proposed.

[2020-03-25 23:41] patricknelson commented on #185
p.s.

Yeah, it _can_ get complicated if you don't already have it up and running (for me it's dead simple, e.g. steps [7 + 8 here](https://dev.to/aminnairi/quick-web-server-with-nginx-on-docker-compose-43ol)) but some folks may have problems accessing shared files.

The `node` based server implemented in #196 works well! I mean, it's currently not working (need to submit a bug for @csakoda) but it

[2020-03-25 23:46] patricknelson opened #210 "Need minor updates to getting started documentation/config."
@csakoda

From PR #196, originally called out in https://github.com/r-pop/findthemasks/issues/185#issuecomment-604146287

Can you make a quick fix for this? Following instructions in `getting_started.md` results in a bare directory listing. Is it possible to refine this such that it's still cross platform compatible but still has a fairly simple setup (like what you already created) but uses the `

[2020-03-25 23:52] csakoda commented on #210
It looks like you just need to run http-server one dir down.  Let me see if I can remove the need for that `cd ..`

<img width="301" alt="image" src="https://user-images.githubusercontent.com/4173737/77596312-ea2bd380-6eb8-11ea-82fa-dfdfdb035279.png">

[2020-03-25 23:53] patricknelson commented on #210
Ok, so in this case there are two `node_module`'s right? One for firebase, another for the local dev, is that required for `http-server` or can `http-server` run entirely independently without the `npm i` in `functions/`?

[2020-03-25 23:57] csakoda commented on #210
`npm install -g http-server` puts it in the global npm cache (we're bumping up against the limits of my npm knowledge though)

[2020-03-26 00:36] Panometric commented on #209
A few ways we might do this using App Script:
1. onFormSubmit would fire every time a new form is added. We could append these to another sheet.
https://stackoverflow.com/questions/17992718/how-to-get-onformsubmit-to-trigger-automatically
2. onEdit could trigger anytime a sheet cell is changed, so that you could capture the old value and new value. We could append both to another sheet so that all

[2020-03-26 00:45] patricknelson commented on #185
cc This thread for external visibility.  It's possible we may have a Heroku pipeline to help with staging master + PR's, so more to come soon, thanks to @alex on that.

----

![image](https://user-images.githubusercontent.com/4269377/77598885-421a0880-6ec0-11ea-9624-e434e1c1ce54.png)

[2020-03-26 00:48] alex commented on #185
I'm working on it now, doing the "debugging" part of it now.

On Wed, Mar 25, 2020 at 8:46 PM Patrick Nelson <notifications@github.com>
wrote:

--
All that is necessary for evil to succeed is for good people to do nothing.

[2020-03-26 00:49] Panometric commented on #208
A few suggestions:
1. At 1400+ datapoints, it is never going to render quickly. How about using the attached image as a place holder until it renders?  We could also make this image fuzzy.
![image](https://user-images.githubusercontent.com/716218/77599021-a5a43600-6ec0-11ea-99cc-5b2ff31988b2.png)

2. There is a usage limit 500 requests per second (QPS). If the site is too busy, the requests will j

[2020-03-26 00:58] alex commented on #185
Ok, should be set up now. All new/updated PRs will get one.

On Wed, Mar 25, 2020 at 8:48 PM Alex Gaynor <alex.gaynor@gmail.com> wrote:

--
All that is necessary for evil to succeed is for good people to do nothing.

[2020-03-26 01:01] patricknelson commented on #208
After further analysis, it appears a majority of the latency appears to be in network overhead. Specifically, the downloading, decompressing and parsing the https://findthemasks.com/data.json file (page is able to runder while XHR kicks off in another thread to pull that file down) which is why we still see the page waiting for it to DL and doesn't seem to have anything to do with the map.

Turns

[2020-03-26 01:17] susanashlock opened #215 "Migrate to reading addresses from autogenAddress field in spreadsheet"
To speed up address data moderation and to make sure that we preserve a user's original address input, I propose the following changes:

* Change our data pipeline to read from autogenAddress instead of address for geocoding.   Website would need to be updated to read from this field as well, either at json-generation time or at load time.
* Instead of having "quick-mod" operators copy the autogen

[2020-03-26 01:18] patricknelson commented on #208
Working on wrapping this up.

[2020-03-26 01:22] patricknelson commented on #208
Ok fix here: #216

[2020-03-26 02:05] 4kbt commented on #206
All the #data team needs to make this happen are new allocated columns in Form Responses. Could we get a "Category" column or three allocated for this purpose?

[2020-03-26 02:10] cchang-adi opened #217 "Script to convert link text to HTML"
When people enter links in our form, they show up as plaintext on index.html by default, not clickable links.

Google Sheets is able to recognize link text and often creates links in the cells if that's the only text there (but it seems not to if there is other text around it, which is the case about 50% of the time). However this also doesn't translate to live links on the site.

For now, I am go

[2020-03-26 02:17] cchang-adi commented on #206
Suggested category: Clinic. Smaller than a hospital (no departments), includes Urgent Cares as well.

[2020-03-26 02:22] 4kbt opened #218 "New York City is a special place -- Google-Sheet expert needed."
Early on, the #data team began aggregating the five boroughs of NYC (Bronx , Brooklyn, Queens, Manhattan, Staten Island ), in the city field.

In order to help all of the NYC entries together alphabetically, we decided to change

The Bronx or Bronx --> New York - Bronkx
Brooklyn --> New York - Brooklyn
Queens --> New York - Queens
Manhattan --> New York - Manhattan
Staten Island ....  has never co

[2020-03-26 04:48] 4kbt opened #219 "Bookkeeping in "approved" column?"
Can we do book-keeping with the "approved column" of the "moderated" tab?

Per a discussion with @susanashlock , it sounds like the only thing done with the "approved" column is to check for the string "x".

At present, we do all of our inter-moderator communication about individual entries through Google Sheet comments on that cell.

Sometimes those discussions are a short thread, but almost all

[2020-03-26 06:14] awong-dev commented on #215
I think this is done. Closing.

[2020-03-26 06:14] #215 closed

[2020-03-26 06:19] awong-dev commented on #185
I think the PR apps have solved the immediate problem. Closing for now. Thanks for all the discussion everyone!

[2020-03-26 06:19] #185 closed

[2020-03-26 07:28] graemer commented on #206
Done. Added Category with items enumerated above.

[2020-03-26 07:28] #206 closed

[2020-03-26 07:35] graemer commented on #170
@patricknelson - I'd love to get this rolled out. Practically, could you check whether the GetUsPPE wordpress site would have the ability to include this script, and if so, could you work with them to figure out how to improve the scrolling of our content within the page's. There are definitely cases where it feels really janky.

[2020-03-26 07:43] graemer opened #222 "Support for i18n ?country={us,fr,ch} query param"
Add `?country={2 letter code}` param:

**Accomplished 2 things:**
Sets language to the specified language
Switches to country-specific json asset: us special-cases to data.json, the others will be data-fr.json, data-ch.json, etc.

[2020-03-26 08:24] 4kbt opened #224 "Google Sheet Dupe-Detectors broken by Sheet re-org"
Fixing them is likely to be a few-character change. They need to point at Form Responses, and the columns have shifted.

Dupe Addresses should point at Column F ("Final Address").

Dupe Names should point at Column E (what is the name of the hospital... )

[2020-03-26 09:18] 4kbt opened #225 "Automation for expedited Update/Removal requests"
Data team needs to consult with Google Sheet wizards to develop sheet-tabs similar to the Dupe Detector tabs for update/removal requests.

Bonus points for #data Slack integration for new removal requests.

[2020-03-26 09:21] patricknelson commented on #185
Heroku FTW! Thanks @alex. :shipit:

[2020-03-26 09:26] patricknelson commented on #170
It’s feasible. Requires inclusion of the remote pym script and JS to embed iframe; see Doc’s. Been years since last used, so from memory, but it was solid.

[2020-03-26 13:46] nburt commented on #222
I can pick this up. Do you know when data-fr.json and data-ch.json will be available for testing?

Also, do we want to gracefully handle invalid country codes or country codes that don't exist by falling back to US / data.json?

[2020-03-26 14:02] nburt commented on #222
Also, do you know what the forms will look like? Wondering if existing filters (e.g. state) will continue to work or if we'll need to handle that differently.

[2020-03-26 15:17] drwestco opened #227 "Loading spinner shows forever on give.html"
With findthemasks.com/give.html?hide-list=true, the List of donation sites section with loading spinner shows and spins forever.

![image](https://user-images.githubusercontent.com/743030/77663290-26534880-6f3a-11ea-9770-d309c094807e.png)

[2020-03-26 15:20] nburt commented on #222
opened a draft pr: https://github.com/r-pop/findthemasks/pull/226

[2020-03-26 16:03] nburt commented on #227
Looks like this is a problem on index too, I can take this

[2020-03-26 16:15] krithin commented on #217
I'm looking into doing this with https://www.npmjs.com/package/linkifyjs

[2020-03-26 16:21] cchang-adi commented on #206
Sorry to come back to a closed issue - forgot one category, Dialysis Center. We include those because people can't stop going to them.

[2020-03-26 17:11] 4kbt opened #229 "Categorization Documentation needed"
In order to communicate better with those who consume our data, we need to document our categorization clearly.

This should be a separate wiki page from our Procedures page, to avoid confusion for our consumers.

It should outline the categories that come from the from, how we do any category-correction, and extra categories/decorators we might add.

[2020-03-26 17:13] 4kbt opened #230 "Category Addition"
We are going to need to add extra richness to our categories (see "categorize" in Data-procedures wiki, as of 3/26 10 am) in order to capture what we see in our data.

We can aggregate extra categories that we believe need addition to the Form in this Issue.

Dialysis Centers are a definite need.

[2020-03-26 17:15] cchang-adi opened #231 "Alphabetize large city multiple hospital listings"
Large cities (ie Boston) have big lists of hospitals that are currently presented in somewhat haphazard order. Is there a way to alphabetize them under the city listing?

[2020-03-26 17:58] cchang-adi opened #233 "Resolve multiple address/instruction listings for same hospital"
As we begin to collect more data, we are increasingly seeing multiple listings for hospitals that aren't exact duplicates, submitted over the course of several days/hours. They roughly fall into this pattern:

1) Hospital X, official address, official contact/links (either hospital-wide or specific dept)
2) Hospital X, nearby residential address (almost certainly staff), personal phone # or "leave

[2020-03-26 18:28] cchang-adi opened #234 "Text on intake to indicate delay in posting"
We see a lot of duplicate submissions that are often spaced out within a few minutes/hours of each other, which all didn't get posted because they were waiting for a mod to approve (eg. rows 1029, 1032, 1046, 1125). Lag in posting may also be (justifiably) distressing to submitters who don't see their facility come up immediately.

Can we add text to either main landing page or the top of the form

[2020-03-26 20:21] susanashlock commented on #218
A proposal of how to do this:

- Add a column next to the existing city column.  Set row 2 for this column to 'autoCity'
- Use a formula that points to an Apps Script to populate the column based on the logic described by 4kbt.
- Set row 2 for this column to 'city'.  The scripts and website will then read from this column.
- Set row 2 for the existing city column to orig_city.
- Optional (if moder

[2020-03-26 20:21] dhruv4 commented on #234
I can jump on this and add some text to index.html and give.html. I don't think I can update the Google form.

[2020-03-26 20:23] susanashlock commented on #225
Another possible solution on top of 4kbt's: use a filter view in the existing tab that simply shows unprocessed update / removal requests.

[2020-03-26 21:26] 4kbt opened #238 "Snapshots/backups of Google Sheet"
We need regular snapshots of the Google Sheet (hourly?), in case something goes wrong.

Until then, post a comment here if you have recently made a snapshot.

You can copy the Sheet by using "File --> Make a Copy" . Rename it with a prefix like 1425 3/26.

Hand copies probably need not occur more often than every ~6 hr.

[2020-03-26 21:27] 4kbt commented on #238
1426 3/26.

[2020-03-26 22:05] csakoda commented on #224
Where can I see the sheet?  I don't think I have access. @r-pop

The dedupe is implemented as some AppScript?  Where can I see that?  What perms do I need to edit it? @cchang-adi

[2020-03-26 22:17] r-pop commented on #224
It's here: https://docs.google.com/spreadsheets/d/1GwP7Ly6iaqgcms0T80QGCNW4y2gJ7tzVND2CktFqnXM/edit#gid=2027792507

Please request access from your google account and I will give view access.

[2020-03-26 22:30] drwestco commented on #231
Easy. On it.

[2020-03-26 22:31] csakoda commented on #224
Thanks @r-pop I've requested from cms235@gmail

[2020-03-26 23:03] csakoda commented on #224
I've added the following to the dupedata sheet

<img width="303" alt="image" src="https://user-images.githubusercontent.com/4173737/77704814-33dcf280-6f7b-11ea-98af-5923d4a9465d.png">

I now see addrs and names in the dupe addr/names sheets

<img width="669" alt="image" src="https://user-images.githubusercontent.com/4173737/77704848-54a54800-6f7b-11ea-8bbc-4d7c68f5d209.png">

<img width="641" alt=

[2020-03-26 23:08] csakoda commented on #224
I made an additional edit to reflect the new positions of the City/State/Final Addr columns on both the Dupe Names and Dupe Addresses sheet.

<img width="751" alt="image" src="https://user-images.githubusercontent.com/4173737/77705002-bf568380-6f7b-11ea-8a02-4ba1ee79b7db.png">

<img width="684" alt="image" src="https://user-images.githubusercontent.com/4173737/77705075-f462d600-6f7b-11ea-86ae-e3bb

[2020-03-26 23:48] cchang-adi commented on #234
Thanks for the new text on the form! I think I've seen a drop in repeat submissions today already, so this is probably both comforting for the end users and much less mod work for us.

[2020-03-26 23:48] #234 closed

[2020-03-26 23:56] csakoda commented on #224
@r-pop I don't have perms to assign + close this ticket, but I believe it has been validated and can be closed

<img width="841" alt="image" src="https://user-images.githubusercontent.com/4173737/77707584-c92fb500-6f82-11ea-8f6c-2dd4f3c2dcfa.png">

[2020-03-27 00:08] cchang-adi opened #245 "Resolve "email me" w/no address vs. user privacy promise dilemma?"
Problem: submitters are putting "Email me" in the instructions field, but then not providing an email address.

This was just an impossible problem to solve when we didn't even collect emails before (ie line 760).

Now that we have email addresses that we are keeping private*, this gets complicated but potentially solvable. Submitters are still asking for prospective donors to email them in the in

[2020-03-27 00:14] cchang-adi commented on #224
Yes, closed! Thanks again!

[2020-03-27 00:14] #224 closed

[2020-03-27 00:21] cchang-adi commented on #217
This seems to be working well, thanks everybody! :)

[2020-03-27 00:21] #217 closed

[2020-03-27 00:22] alex commented on #231
Done!

[2020-03-27 00:25] #227 closed

[2020-03-27 00:25] drwestco commented on #197
Done.

[2020-03-27 00:25] #197 closed

[2020-03-27 01:03] 4kbt commented on #245
The Craigslist mail relay is a really thoughtful idea.  Anyone know a Craigslist dev?

First-draft could be accomplished with simple findthemasks mail forwarding cut-and-paste into our datastream?

No code needed, just an eager-beaver dev who likes editing mail-forwarding configuration files, and a willingness to comb through the data every six hours.

[2020-03-27 02:07] susanashlock opened #250 "Document Apps Script that updates 'the' Google Sheet"
Currently we have 2 Apps Scripts that create 'canonical' addresses and does geocoding on those addresses.

We should have documentation on what they do, how to run them, how to change them, and how they can break.

[2020-03-27 02:11] susanashlock opened #251 "Speed up / make CanonicalizeAddress script faster and more robust"
Currently the script that runs every 10 minutes to create 'canonical' addresses and adds them to the 'address' column in the Google sheet fails occasionally with the error:

Exception: Service Spreadsheets timed out while accessing document with id 1GwP7Ly6iaqgcms0T80QGCNW4y2gJ7tzVND2CktFqnXM.
--

I also noticed that the script went from taking 18 seconds to run to ~200 seconds to run last night.

[2020-03-27 02:26] susanashlock opened #252 "Remove 'moderated' tab from spreadsheet"
Currently the moderated tab is a copy of the 'Form Responses 1' tab.  The copy is made by using the ARRAYFORMULA function.

I suspect that because it has to update every time a change is made in 'Form Responses 1' it's slowing down moderators.  I typically see the loading bar display when responses come in or moderators do work.

To make this happen, we'd need to point any scripts or code that poi

[2020-03-27 02:43] susanashlock commented on #251
Made change described above.  Script is now running in a few seconds.  Updated the script to run once/minute instead of once every 10 minutes.  Will keep an eye on things for the next hour to make sure nothing breaks.

[2020-03-27 02:43] #251 closed

[2020-03-27 02:53] susanashlock opened #254 "Test spreadsheet moderation with 20k rows"
What breaks if our spreadsheet grows by an order of magnitude (20k rows)?

Does moderation slow down to a crawl?

Should test out:

- quick mod
- data-moderators
- update/removal moderators
- de-duplication moderators

[2020-03-27 03:08] susanashlock opened #256 "Debug issue whereby some places end up on 'null island'"
A few times per day a donation site is placed at 'null island' (lat=0, lng=0).  It's pretty easy to fix these (by deleting the lat/lng in the spreadsheet), but we should update the geocoding script to prevent this from happening.

Impact of this issue:

- Takes up time of moderators to manually address
- Reduces credibility of data and site as a whole.

Example:
![nullisland](https://user-images.g

[2020-03-27 03:20] susanashlock commented on #256
For the particular example above, by the time I looked at the data.json, there was already a valid lat/lng assigned to the place.

[2020-03-27 03:20] alex commented on #256
I guess the easiest fix is to simply not write any results back if they're
at (0, 0)

On Thu, Mar 26, 2020 at 11:09 PM susanashlock <notifications@github.com>
wrote:

--
All that is necessary for evil to succeed is for good people to do nothing.

[2020-03-27 03:23] 4kbt opened #257 "Tie up important loose-end from ye olde 12am March 26 Sheet-Refactor"
When refactoring the Google Sheet on the night of 3/25-26, we made the address-of-record the "Final Address" column.

The entries in that column were formerly Column ~"N",  and were auto-generated from API calls.

Prior to the refactor, the addresses-of-record were those located in the "Street address for dropoffs" field. Those should be copied into to the Final Address Field for rows prior to the

[2020-03-27 03:33] susanashlock commented on #257
This will involve rows 3-1822.

Will need to skim through and make sure all addresses look good before copying them into 'Final Address' column.

Would also be good to pause scripts before doing this, just in case.

[2020-03-27 04:17] susanashlock commented on #205
To clarify what Charlie meant: he's asking how many 'actual' dupes remain after using our dupe-moderation flow.  This will tell us if we can/should improve our dupe-detection process.

This task involves playing around with data.

[2020-03-27 05:20] susanashlock commented on #238
I just set up an Apps Script to backup every 2 hours to a Google Drive location currently shared with @4kbt and @r-pop .  If anyone else wants permissions, just let me know.

The script can be viewed by going to Tools > Script editor from the spreadsheet.

[2020-03-27 05:20] #238 closed

[2020-03-27 05:32] susanashlock commented on #256
The geocoder is never returning (0,0) - that's not the problem.

Looks like the problem is caused by listings in the data.json file that don't have a lat/lng at all.

![image](https://user-images.githubusercontent.com/62415722/77724900-4d009600-6fb1-11ea-87be-34901ad276d7.png)

Easiest way to fix this is to update map to not try to add markers for locations that don't exist or are 0,0.  @raindrift

[2020-03-27 05:41] susanashlock commented on #219
Looked through code on GitHub and in our Apps Script.  Looks like we only look to check if the value is exactly equal to "x".

[2020-03-27 06:59] patricknelson opened #264 "Should “Reset map” also clear text input and selected filters?"
For usability purposes, might be easier to reset the search text field **and** selected state/equipment filters as well when user clicks “Reset map”. Minor oversight on my part not to bring up for discussion earlier, as that link was intended to return to initial page load state (post user geolocation).

Opening issue for discussion!

**Link:** https://findthemasks.com/give.html?hide-search=false

[2020-03-27 07:01] drwestco commented on #256
I see 4 entries in the current data.json with missing lat/lng. Two have "N/A" for both; two have "N/A" only for lat, with no value for lng.

[2020-03-27 07:35] 4kbt commented on #230
Got an email requesting Home Health or Home Care. I think this came up on Slack, too.

We need an "Other", too.

[2020-03-27 09:22] patricknelson commented on #210
Think we should update the docs then too; earlier today @cjimmy noticed this as well.

[2020-03-27 09:30] 4kbt opened #268 "Ascribing a unique ID to each entry"
At the moment, each entry in the Sheet is identified by row number. This is easy, but has downsides.

1. We cannot delete rows, whether we want to or not.
2. If anyone ever presses the "sort" button, on any column, including timestamp (thanks to form-updates) we lose all reference to our row-id system without reverting to a backup.

If it is a separate field, it could follow its way into the json

[2020-03-27 14:51] #222 closed

[2020-03-27 14:52] nburt commented on #222
Closing since this is deployed for French

[2020-03-27 14:55] nburt opened #270 "Add marker clustering and progressively update markers on zoom"
Currently we render all markers at once. This creates a pretty much unusable default US view because we are rendering 1800+ markers. We should integrate marker clustering for a better user experience: https://developers.google.com/maps/documentation/javascript/marker-clustering

[2020-03-27 14:58] dhruv4 commented on #270
I can hop on this

[2020-03-27 16:10] bamnet opened #271 "Make Geolocation call async"
Currently when the map is loading it calls out to the HTML5 Geolocation API to detect the user's location and center the map appropriately.  This is in the blocking path of displaying all the pins. As a result, users need to interact and Approve/Block/Dismiss the browser notification before the map finishes loading.

New users aren't particularly likely to interact with this prompt and the map jus

[2020-03-27 17:03] csakoda commented on #210
What update do you have in mind?  As best as I can tell the only problem with the steps if that if you don't `cd ..` you'll get confused as to why the site isnt loading (by default, http-server expects to find a `public/` dir in the path you start it).

[2020-03-27 17:03] drwestco commented on #264
Clear text, definitely.

In addition, It should either:
a) reset the filters
b) reset the map to match the current filters

In the current UX, since the search+reset controls are separated from the filters by quite a bit, I'd vote for b).

[2020-03-27 17:09] 4kbt opened #275 "Clickable link to aid moderator google-searches"
We can save moderators time when data-moderating entries if they don't have to compose the most-common google-search themselves.

Could we add a narrow field to the Sheet with a clickable link to a google-search for "Name + Final Address" ?  (bonus points to have it open subsequent clicks from the Sheet in the same tab)

[2020-03-27 18:48] JGLee6 opened #277 "Back-Fill Categorization"
We might be able to back-fill a lot of the categorization entries (Column O) that were added before categorization by just checking the Name column (Column E) for a few keywords:

Name         Category
Hospital -> Hospital
Clinic -> Outpatient Clinic
Urgent Care -> Outpatient Clinic
Hospice -> Skilled Nursing Facility
Assisted Living -> Skilled Nursing Facility
Ambulance -> Emergency Medical Servi

[2020-03-27 18:53] r-pop opened #278 "Incorporate call for stories about your donations to index.html"
Jimmy, in the new index.html design, can you incorporate a call eg "Did you donate PPE? We want to hear what you did!" link should go to https://www.facebook.com/findthemasks which @graemer has claimed and will delegate setting up.

We will use some of the stories to engage press.

[2020-03-27 19:13] graemer opened #280 "For each country, reset map center position on country"
When a user hits findthemasks.com/fr/index.html, the map should be centered on france.

This should be done for:

ca - canada
ch - switzerland
de - germany
gb - united kingdom
fr - france

[2020-03-27 19:26] awong-dev commented on #280
On it.

[2020-03-27 19:28] drwestco commented on #280
We have methods to set the map view based on the pins. Can we just let the country-specific pins determine the initial map view instead of hard-coding?

[2020-03-27 19:31] awong-dev commented on #280
hard coding for now as it's minimal churn. Feel free to update in a PR after if your method is superior.

[2020-03-27 19:42] 4kbt opened #284 "Periodically load the "publish" URL?"
Is there any reason not to set up a cron job on a box somewhere that loads the publish URL once every 5 minutes, on the :04s, just to ensure that moderator changes go live without subsequent action?

We kept the actions separate to allow moderators to complete changes before pushing them live, but with multiple moderators, "publish" is getting hit regularly anyway.

[2020-03-27 20:05] cchang-adi commented on #277
Sounds like a good idea, we were going to have data mods do it by hand at first, but checking them over is obviously a lot faster. If in doubt, leave blank and mods can fill in, since we're not live using this data right now to the best of my knowledge.

[2020-03-27 20:28] JGLee6 commented on #277
Looks like those would account for about a third of ~1800 uncategorized entries, including duplicates. Can also add

Name      Category
Dentist -> Dentist
Dental -> Dentist
, MD -> Doctor's Office
Senior -> Skilled Nursing Facility
Rehab -> ???

I'm not sure if the Rehab Facility category is meant to be like addiction or more physical therapy and transfer services. I think most of the entries woul

[2020-03-27 20:32] cchang-adi commented on #268
Simplest solution may be just to turn present row numbers into another column that is an explicit index one?

[2020-03-27 20:35] cchang-adi commented on #277
Rehab is more like post-surgical + skilled nursing, so the transfer services/PT part is more like it. We do have a category for Addiction Facility.

Also see related issue here for other categories we want to add: Dialysis Center, Home Health Care, and Other. https://github.com/findthemasks/findthemasks/issues/230

[2020-03-27 20:42] 4kbt commented on #277
I feel like I have seen Rehab happen for both therapy and addiction. 

@cchang-adi -- @JGLee6  is trying to find ways to auto-categorize the old entries using the name-field alone.

I bet Dialysis will be very specific, too.

@JGLee6  -- if you think we need more categories, please add suggestions to #230

[2020-03-27 20:46] cchang-adi commented on #277
We may need to clarify what "rehab" means on our dropdown with more descriptors like "skilled nursing, not addiction"

Also from UX point of view, "Rehab" is two above "Addiction" so people submitting the form for addiction rehabs might stop there and not keep going on. Changing the order there might help too.

[2020-03-27 21:22] JGLee6 commented on #277
I don't think I've seen any dialysis in the uncategorized set. Could also add

pharm -> pharmacy
fire -> EMS
emergency -> EMS
nursing -> Skilled Nursing Facility
pediat -> Outpatient Clinic
'one medical' -> Outpatient clinic
' ems' -> EMS

Those would bring it up to about 42% of the approved/uncategorized set without any likely errors from a quick glance. Also, excludes 'rehab' since I think you'r

[2020-03-27 21:28] cchang-adi commented on #277
There are many different Urgent Care chains - 'AppleCare' 'Midwest Express' etc Not sure if it's worth hard-coding those terms in ...

[2020-03-27 21:31] 4kbt commented on #277
There are some pediatric hospitals, I think.

Could keyword Walgreens, other chains.

We should ask @graemer if we should store the beginnings of some analytics documentation in the repo or elsewhere.  It would be nice to be able to version a list like this in git.

Findthemasks is a GitHub Organization now, so we could maintain a separate repo (though we would lose the integrated bug-tracking?) w

[2020-03-27 21:44] awong-dev opened #287 "Race condition in maps load?"
I'm getting this periodically if I hard refresh the page during local testing.  I think there's a race between the script blob in index.html that loads the maps API and our JS file.

[code]

[2020-03-27 21:52] JGLee6 commented on #277
Applecare snags a few more. It would seem like 'community options' and 'kaiser permanente' picks up a lot (I think Outpatient Clinic). Also, 'search' or 'rescue' give a few for EMS. And 'gyn' a few Outpatient Clinic. Might bring it closer to 47%, but I think most of what would be left are things with generic names like '___ health', '____ health center/care', '_____ medical center/care' and named

[2020-03-27 21:56] #280 closed

[2020-03-27 22:04] awong-dev commented on #287
FYI, this seems to only happen if the JS loads at different rates. Mashing reload on prod doesn't reproduce.  Using local.findthemasks.com:8080 with a local server bound to 8080 does seem to give enough gap that the race occurs about 1/3 of the time on a full reload for me.

The code needs to not call initMap() until google maps api has initialized. Not sure the right way to do that.

We've had th

[2020-03-27 22:12] bamnet commented on #287
It looks like the Google Maps API script tag is potentially loading late (`defer` tag?) so there's no guarantee when it will be ready.  Suggest making it load sync before the main JS blob executes (easy fix) or use a callback to trigger all of the features that require google.maps (cleaner fix).

[2020-03-27 22:24] drwestco commented on #287
Maps script is loaded with defer. locations-list-map is loaded as a module (implied defer). Deferred scripts are supposed to execute in the order they appear in the doc, though maybe explicit defer and modules are queued separately?

Another option would be to move the script tag creation for maps from the html file into locations-list-map and use the callback param to trigger map initialization.

[2020-03-27 22:52] patricknelson commented on #287
For what it's worth, you can define a `&callback=[function name]` in the URL of the Google Maps API JS if you wanted to ensure that dependencies wait for maps to be fully ready prior to calling.

I tried doing this, but that's why I was so bent on using module-level vars to maintain state since then at least we could a little more easily invoke a single function that would then kick everything els

[2020-03-27 23:04] awong-dev commented on #287
Someone wanna throw up a CL?  I like @drwestco 's solution of now downloading themaps api unless needed.Then the center of control still has a single entrt-point in the JS.

[2020-03-27 23:16] 4kbt opened #297 "How many people want email but don't make email public?"
We see a lot of entries where the Instructions include something like "Email for drop-off instructions" or, "Email me", but the only address in the entry is in the private email field.

How often does this happen? We think it happens a lot.

This can be as simple as asking -- how many entries include the string 'email' in the instructions field, but no @ ?

[2020-03-27 23:21] cchang-adi commented on #245
Another possible solution is a little form popup where people can email to that address, but can't see what the address is. That prevents spam to hospital contact emails, while directly connecting donor to hospital contact. The emailto: links are sitting ducks for spammers.

[2020-03-27 23:24] cchang-adi opened #298 "Add "handmade masks" and "hairnets" to Google form as option for items accepted"
More hospitals are explicitly requesting handmade masks.

Also, on the Full Frontal with Samantha Bee TV segment, the founder of GetUSPPE.org mentioned hairnets as an item that hospitals need.

Can both handmade masks and hairnets be added to the checkboxes on the Google form?

Especially for handmade masks, we are trying to separate free text entry from enumerated in the items field, so adding th

[2020-03-27 23:25] awong-dev commented on #287
fixed in #296

[2020-03-27 23:25] #287 closed

[2020-03-27 23:28] cchang-adi opened #299 "Add "uncertified PPE okay?" yes/no box"
Some suppliers are wondering if hospitals are open to PPE from non-standard hospital supply chains.

These folks may lack FDA certification but are producing almost-equivalent products (think N95 for painters vs. for medical use). The FDA did relax N95 certification requirements a few weeks ago to allow 3M to use all of their lines to produce medical PPE, but this doesn't extend to other items lik

[2020-03-27 23:32] drwestco commented on #271
Search bar + "use my location" replaces this? I think the old geolocation on init code can be completely removed now.

[2020-03-27 23:44] 4kbt opened #300 "How many recipients have already asked for handmade masks?"
We are seeing the big hospitals start to ask for handmade masks.  What are we seeing in our free-form response field?

[2020-03-27 23:46] awong-dev opened #301 "I18N Launch Issue"
## GENERAL

- [x] Bottom Nav w/ Country & Locale selectors in PROD
- [x] "state" filters work for French and Canada Provinces / Départements

## FRANCE

 - [x] https://findthemasks.com/data-fr.json is publishing
 - [x] https://findthemasks.com/fr/ is rendering
 - [x] Index.html localized to `fr-FR`
 - [ ] Localization has signed off on index.html for `fr-FR`
 - [ ] Localization has signed off on G

[2020-03-28 00:44] 4kbt commented on #299
Uncertified PPE apparently comes in different kinds. "origami" , Wisconsin, etc.  Could leave a response field open for them?

[2020-03-28 00:59] nburt opened #304 "State filter is broken for France"
![image](https://user-images.githubusercontent.com/5788989/77810940-90203f00-706d-11ea-80d0-da848854258e.png)

[2020-03-28 01:05] nburt commented on #301
Adding broken state filters to the list: https://github.com/findthemasks/findthemasks/issues/304

[2020-03-28 01:09] patricknelson commented on #210
Yeah basically that; ideally it'd be very "hand holdy" so new users, particularly since it's not immediately obvious to those (like myself) how `http-server` works. I think that's why we were tripped up.

[2020-03-28 01:24] #271 closed

[2020-03-28 01:45] drwestco commented on #304
Artifact of having only one state in the data. Worth guarding against this?

[2020-03-28 01:52] patricknelson commented on #264
I agree, any opinions @graemer or  @awong-dev ?

[2020-03-28 01:54] patricknelson commented on #264
Forgot to note that I lean a little bit more toward "a" (resetting filters) insofar as it matches original filters on page load. So, if you start on `FL` it should reset map to that initial state.

[2020-03-28 01:55] nburt commented on #304
at some point? Probably not the most pressing thing

[2020-03-28 03:04] #270 closed

[2020-03-28 03:17] cchang-adi commented on #277
Not sure if Kaiser always counts as an outpatient clinic. The smaller ones probably are, but the larger ones are legit hospitals.

[2020-03-28 04:32] drwestco commented on #304
Goes towards keeping the filters data in sync with the filter controls and ?state= param. This was bugging me already, so might as well tackle it.

[2020-03-28 06:17] cchang-adi commented on #277
One more thing coming up - Diagnostic Labs. There are lots of them doing coronavirus testing, and the test technicians need to be protected while they're handling samples. And testing is a major bottleneck in the US coronavirus response right now!

[2020-03-28 07:04] #304 closed

[2020-03-28 07:34] cchang-adi opened #309 "Keep original line breaks in "Instructions" field"
The original submissions for many listings include line breaks in the "Instructions" field. For example, row 1140 (aka our first Alaska submission!):
![image](https://user-images.githubusercontent.com/45407457/77817901-96251880-708b-11ea-894b-5ad21d434eb0.png)
(top paragraph is cut off since we don't have word wrap in cells)

However, the existing page does not honor line breaks, so the result on

[2020-03-28 08:06] awong-dev opened #310 "Appscript to merge multiple forms into one tab"
possibly blocking #301.

In multi-lingual countries, we may want the ability to have a different form for each language feeding into one country's database. The problem is that each tab can be associated with at most one form.

Can we write an appscript that
  (a) is triggered on submission to any form
  (b) copies the new data and appends it to a tab called "combined" keeping a back-reference to

[2020-03-28 08:11] awong-dev commented on #219
Yes.  You could infact to x65 if you want. If that's good enough, please close.

[2020-03-28 08:11] awong-dev commented on #219
Actually, I'm closing. Reopen if needed.

[2020-03-28 08:11] #219 closed

[2020-03-28 08:12] awong-dev commented on #310
In terms of priority, I'd throw this above other data tasks as it's blocking reach into multiple countries.

[2020-03-28 08:14] awong-dev commented on #191
obsoleted via pr apps.

[2020-03-28 08:14] #191 closed

[2020-03-28 08:14] awong-dev commented on #74
removed now.

[2020-03-28 08:14] #74 closed

[2020-03-28 08:15] awong-dev commented on #48
obsolete.

[2020-03-28 08:15] #48 closed

[2020-03-28 08:15] awong-dev commented on #47
fixed by backfills.

[2020-03-28 08:15] #47 closed

[2020-03-28 08:16] awong-dev commented on #10
obsolete.

[2020-03-28 08:16] #10 closed

[2020-03-28 08:16] awong-dev commented on #52
obsolete.

[2020-03-28 08:16] #52 closed

[2020-03-28 08:17] awong-dev commented on #167
#164  is merged.

[2020-03-28 08:17] #167 closed

[2020-03-28 08:19] awong-dev opened #311 "Put currently selected country/lang in bottom bar."
Per @graemer

Rather than Language ^ / Country ^ we should do:
{selected language} ^ / {selected country} ^

[2020-03-28 14:00] cjimmy commented on #278
How about: _Did you donate PPE? We want to hear about it!_

[2020-03-28 16:25] liamrosen commented on #245
How about an MVP solution where we just change the text to warn people leaving contact information here that the info will be public?

[2020-03-28 17:02] r-pop commented on #245
@liamrosen you're describing the current state, which has led to the problem described in this issue - dropoff instructions that say "email me" with no email address.

I'll go change the form now so that the dropoff instructions say "if you need donors to email or call you, please include contact info that can be made public in this field"

[2020-03-28 17:03] r-pop commented on #245
Implemented as:

"Drop off instructions, eg curbside procedure or mailing address. If you want donors to email or call you, please include contact info that can be made public in this field:"

The top of the form that collects email (required, for editing the form and future outreach) and phone (optional) says: "Information entered here will become public. Please type carefully and do not include

[2020-03-28 17:05] r-pop commented on #245
re: craigslist mail relay, I will leave this up in case someone knows an easy way to set that up, but my first opinion is it increases the complexity significantly. I'd rather trust hospitals to define their procedures.

[2020-03-28 17:07] nburt commented on #311
https://github.com/findthemasks/findthemasks/pull/313

[2020-03-28 17:13] marcuscollins commented on #233
Seems like a schema problem. Can we add a department field (or a "care of" field?) Then we we can group by facility (hospital/clinic) and list the needs by dept. or c/o under the facility?

[2020-03-28 17:15] marcuscollins commented on #300
I will attempt to solve this right now.

[2020-03-28 17:24] r-pop opened #315 "Text change to large donation"
Instead of:
Have a lot (500+ items) to donate?
We encourage large donors to use another site we work with to help route donations. Register at getusppe.org/give.

Let's use:
Need logistical help or compensation to donate 500+ items of PPE?
Our partners at getusppe.org/give have an intake form where you can register, and a volunteer will get back to you.

This steps down the requiredness a bit, bec

[2020-03-28 17:27] r-pop commented on #315
While you're in there, please remove "can't find a site near you" - this used to go to a separate place but just the one getusppe/give pointer is good, and the text above reflects the more recent plan for what that form is for.

[2020-03-28 17:44] susanashlock commented on #310
Looking into this now.

[2020-03-28 17:53] susanashlock commented on #310
@awong-dev Can we guarantee that we'll have the same fields in each?

[2020-03-28 18:02] #311 closed

[2020-03-28 18:36] marcuscollins commented on #300
Left msg on Slack, but right now only 25 total such requests. Will do time series soon, but that isn't much to work with yet.

[2020-03-28 19:08] cchang-adi commented on #245
What about a web form where the sender can't see the address it goes too? Is that harder/easier than mail relay?

[2020-03-28 19:34] susanashlock commented on #310
I have 2 test forms and a spreadsheet for people to try out if you like.
12:22
French form: https://docs.google.com/forms/d/e/1FAIpQLSdFAjysUdughOXIBIaEW4-MQ2l5Hd_smt6ONcyt6Qmt0x6t9A/viewform
German form: https://docs.google.com/forms/d/e/1FAIpQLSdf-2mLBvnIVAkMEx48B9xKoy8xfxMM5iFT3hiR2QKFn0PooA/viewform
12:23
Spreadsheet with combined responses: https://docs.google.com/spreadsheets/d/1t6fMfS12wTyk

[2020-03-28 20:14] saikatbhadra opened #317 "Start tracking user actions in google analytics"
## Developer Story
As a developer I want to see which actions my users take.

## Acceptance Criteria (WIP)
An action in GA in generated when:

### Map actions

- [x] A user initiates a map search
- [x] A user clicks a state filter
- [x] A user clicks an equipment filter
- [x] A user resets the map
- [x] A user clicks on "use my location"

### i18n
- [x] A user changes country
- [x] A user changes

[2020-03-28 20:14] saikatbhadra commented on #317
Taking this issue on

[2020-03-28 20:16] awong-dev commented on #310
We cannot gurantee the same fields over time
human entry is in minutes so adding a field will have multi-minute divergences.

[2020-03-28 20:51] susanashlock commented on #310
True, true.  Going back to the drawing board...

[2020-03-28 21:04] awong-dev commented on #310
You can assume that a sheet must have row 2 be stable programmatic labels.
that'd the hack I've been using in the data pipeline.

On Sat, Mar 28, 2020, 13:52 susanashlock <notifications@github.com> wrote:

[2020-03-28 22:04] dhruv4 commented on #315
I'll get this one in a bit!

[2020-03-28 23:56] 4kbt opened #330 "Global FTM view"
As i18n takes off, it will be inspiring if we can pull the geocodes off the federation and plot 'em.  No need for clustering.

It may drive traffic, inspire others to build on FTM, etc.

[2020-03-29 00:46] #315 closed

[2020-03-29 02:19] susanashlock commented on #310
I have a script running for this spreadsheet that merges data from each of the three forms (for de, fr, it): https://docs.google.com/spreadsheets/d/1mFbEzrWW8XLfrkAL0eCzGd1pCVNl6-QUxkoeubtdbPI/edit#gid=1220865648

You can test it out by using the forms associated with the spreadsheet tabs.  (Form > Go to Live Form).

However, as implemented, the forms spit out data that contains localized values f

[2020-03-29 02:25] #278 closed

[2020-03-29 06:47] saikatbhadra commented on #275
Hi, can you explain this in more detail? Do you basically want a google link to be automatically generated in the moderator spreadsheet based on the data?
 Can you give me read only access to the sheet?

[2020-03-29 06:55] saikatbhadra opened #336 "Should we align our imagery and terminology for PPE with getusppe?"
![Screen Shot 2020-03-28 at 11 52 54 PM](https://user-images.githubusercontent.com/2250961/77843176-853ddb00-714f-11ea-8e53-09b52a249838.png)

vs

![Screen Shot 2020-03-28 at 11 55 45 PM](https://user-images.githubusercontent.com/2250961/77843194-aa324e00-714f-11ea-9619-b371d44ddaab.png)

[2020-03-29 14:16] spitznagel commented on #14
Partnership with GetUsPPE appears to have addressed this recommendation. Is this issue now closed?

![image](https://user-images.githubusercontent.com/8340647/77851249-df10c600-718c-11ea-9187-f38df9bee2cb.png)

[2020-03-29 14:23] spitznagel commented on #11
It appears that the masks listed above are approved by the CDC for coronavirus, as well as some registered under alternate certification programs:
https://www.cdc.gov/coronavirus/2019-ncov/hcp/respirators-strategy/crisis-alternate-strategies.html

Perhaps we can have our partners at GetUsPPE add this clarification to their "Give" page under N95?
https://getusppe.org/give

That would probably add t

[2020-03-29 14:37] spitznagel commented on #17
I believe this issue has been resolved and can be closed. It appears resolved in the latest Google Form:

![image](https://user-images.githubusercontent.com/8340647/77851844-19c82d80-7190-11ea-94e0-8cd27d764b77.png)

[2020-03-29 15:37] spitznagel commented on #59
@cchang-adi - it seems like the site still works on mobile and that all the links I've checked are properly tagged on the site. Is this still an outstanding issue?

[2020-03-29 16:21] saikatbhadra commented on #60
@r-pop  on the dev side, do you want me to just to link to the github contributors page since that will be up to date and accurate?

[2020-03-29 16:23] saikatbhadra commented on #102
Can we close this @r-pop ? We are linking to getusppe.org/give which has a form for large donors.

[2020-03-29 16:25] saikatbhadra commented on #115
This issue should be closed, search by zip has been implemented

[2020-03-29 16:44] #115 closed

[2020-03-29 16:55] #59 closed

[2020-03-29 17:07] spitznagel commented on #82
It's a challenging question - it looks like some N95 masks are meant for industrial use, while others are also approved as "Surgical respirators":
https://www.cdc.gov/niosh/npptl/topics/respirators/disp_part/n95list1.html

The above list shows all masks approved as N95 masks, and marks in **bold** the ones that are also approved for surgical use.

The CDC offers additional details on the different

[2020-03-29 17:14] spitznagel commented on #131
Congrats team! It looks like we now have all states listed. I am closing this issue out.

[2020-03-29 17:14] #131 closed

[2020-03-29 17:15] #17 closed

[2020-03-29 17:25] spitznagel commented on #148
Related to:
#82
#11

[2020-03-29 18:11] 4kbt commented on #275
Comment-only access sent.

Yeah -- If we had a small cell in every row to click that aggregated data from the "name" and "final address" cells  to

google-search: name + final_address

it would buy our moderators at least two seconds per row, probably more.

[2020-03-29 18:11] spitznagel opened #340 "Clarify N95 Mask Types on Google Form"
This new issue is meant to merge valuable input from issues #11, #82, #148, #298, #299.

Previous issues have suggested adding uncertified PPE, masks that are generally used for construction, and other items. Some hospitals appear to be relaxing their requirements for surgical grade PPE, and some others even encourage homemade masks and other items, however, not all donation locations would benefi

[2020-03-29 18:12] spitznagel commented on #11
Merged into #340

[2020-03-29 18:12] #11 closed

[2020-03-29 18:12] spitznagel commented on #82
Merged into #340

[2020-03-29 18:12] #82 closed

[2020-03-29 18:12] 4kbt commented on #275
The only trickery is that the link-generation can't slow down the Sheet too badly. It might need to use some appscript . @awong-dev  would have some insight there.

[2020-03-29 18:13] spitznagel commented on #148
Merged into #340

[2020-03-29 18:13] #148 closed

[2020-03-29 18:13] spitznagel commented on #298
Masks merged into #340.

Left open for consideration of adding "hairnet" option.

[2020-03-29 18:13] #298 closed

[2020-03-29 18:16] spitznagel commented on #299
Added masks in #340, including homemade option.

I suggest we be very specific about what uncertified PPE hospitals would accept. For example, N95 masks for construction might be OK, but booties or gowns for other efforts, like manufacturing, might not. I saw guidance from the CDC on different masks being acceptable, but not for other PPE.

@cchang-adi  - is there a directive or some other FDA/CDC

[2020-03-29 18:19] r-pop commented on #340
Thank you for this synthesis - super helpful. I am also going to talk to getusppe about this soon - my gut is to limit our maker-made PPE involvement to the research-validated designs on getusppe.org/makers (there is some awesome stuff there!)

Cotton mask-covers would be a separate category. They aren't ppe on their own but can be used to protect N95s from stains, prolonging their reuse.

[2020-03-29 18:56] saikatbhadra commented on #51
@liamrosen Louisiana is hit bad and we only have 20 hospitals right now. Here's a list of hospitals in the state:
https://www.ahd.com/states/hospital_LA.html
https://www.officialusa.com/stateguides/health/hospitals/louisiana.html

[2020-03-29 19:12] 4kbt opened #341 "Expose CSV?"
We've had a request from above to expose our json as CSV. Is that quick/easy?

[2020-03-29 20:24] cchang-adi commented on #252
Closing since this is long since done already thanks to Susan and Albert and co.

[2020-03-29 20:24] #252 closed

[2020-03-29 20:44] cchang-adi commented on #229
As part of hand-categorizing all of CA now, I've decided that anything that has an ER is a hospital.

[2020-03-29 20:50] cchang-adi commented on #230
Also add:

- Community Health Organization
- Diagnostic Lab
- Healthcare Union

[2020-03-29 20:50] #75 closed

[2020-03-29 20:51] #64 closed

[2020-03-29 20:57] JGLee6 commented on #229
I guess working definition for myself was anything that had inpatient facilities, ie. beds.

[2020-03-29 20:57] cchang-adi commented on #229
That too, inpatient is the definition I found while Googling.

[2020-03-29 21:14] JGLee6 commented on #229
Here's a start:
Hospital - A general or specialized institution providing medical or surgical treatment typically including inpatient facilities.

Outpatient clinic - Part of a hospital or independent clinic for the diagnosis or treatment of patients who do not require a bed. Including urgent care, pediatric, orthopedic, and diagnostic facilities.

Skilled Nursing Facility - a healthcare instituti

[2020-03-29 21:26] JGLee6 commented on #229
**Updated. Lacking good def for Public Health. Please review/edit**
Hospital - A general or specialized institution providing medical or surgical treatment typically including inpatient facilities.

Outpatient clinic - Part of a hospital or independent clinic for the diagnosis or treatment of patients who do not require a bed. Including urgent care, pediatric, orthopedic, and diagnostic facilities

[2020-03-29 21:31] cchang-adi commented on #229
I've seen "Community Health Center" - synonymous with Public Health Facility? Was that the intent?

[2020-03-29 22:20] cchang-adi opened #347 "Add "walkie talkies / baby monitors" to accepted PPE for all countries"
An increasing number of hospitals are using baby monitors or walkie talkies to limit direct face-to-face contact with hospitalized COVID-19 patients. This help conserve PPE, since short checkups or conversations done over a walkie talkie or baby monitor will not require a doctor or nurse to suit up.

Hospitals may not have a lot of these on hand, and some may be accepting donations of these items,

[2020-03-29 23:32] r-pop commented on #230
Added all these and "Other"

[2020-03-29 23:32] #230 closed

[2020-03-29 23:33] r-pop commented on #347
Added!

[2020-03-29 23:33] #347 closed

[2020-03-29 23:35] r-pop commented on #340
I have left it at one type of N95 mask for now - I agree that linking clarification from the site's static text is a good idea.

I have added "Homemade masks (please specific what types)"

[2020-03-29 23:35] r-pop commented on #300
I have added "Homemade masks (please specific what types)" as a checkbox, so hopefully we'll get better data going forward.

[2020-03-29 23:50] patricknelson opened #348 "Search: Remove beta parameters"
Map search capability is now enabled by default (whenever the map is visible). This issue proposes:

- Removing the `show-search` query string parameter, as it’s no longer needed given it’s already enabled by default.
- Optionally: Removing the `data-enable-search` parameter on the `#map` div, which was only present to facilitate the ability progressively release independently between `index.html`

[2020-03-30 00:01] saikatbhadra commented on #275
I'll take a shot at this tomorrow evening

[2020-03-30 01:01] marcuscollins commented on #300
@r-pop Thanks. I will continue to monitor. @4kbt Can you close this one?

[2020-03-30 01:02] #300 closed

[2020-03-30 01:28] marcuscollins commented on #297
Increasingly common. See attached. I suggest a simple validation. I can write a JS snippet if needed to do a regex validator based on the input of the instructions field.

[missing_or_private_email.txt](https://github.com/findthemasks/findthemasks/files/4400331/missing_or_private_email.txt)

[2020-03-30 02:26] linderr opened #352 "Ability to change the bulk donation section by country"
Hi, getusppe.org does not have distribution channels in Canada (nor other countries, I imagine).
Therefore, in Canada, the larger donations (500+) should be donated to provincial and national efforts (organized by the respective level of government) instead of getusppe.org

![image](https://user-images.githubusercontent.com/62862914/77868257-61ca6d00-71ef-11ea-9b3f-c74e522a00d6.png)

Two potential

[2020-03-30 04:09] cchang-adi commented on #233
I agree, we should include the option for us to split a single hospital listing into multiple departments or sub-bullet points of some kind. I've already asked for line breaks in the raw-data irnstructions field to be honored, so it seems like splitting each request into its own line is a start, although a better solution would be a clearly formatted department field of some sort.

[2020-03-30 12:14] nburt commented on #352
Picking this up - going to focus on the national level for now. We can follow up after on state by state / province by province pages with more specific instructions

[2020-03-30 13:52] nburt opened #356 "Translate meta tags into existing languages"
We currently only have our meta tags in English and French, we should add translated versions for all other supported languages + create a process for when we launch new languages

[2020-03-30 14:53] saikatbhadra opened #361 "Implement Google Maps analytics"
Article on how to automatically send events from Google maps instance is here: https://developers.google.com/maps/premium/reports/maps-analytics

[2020-03-30 15:13] #352 closed

[2020-03-30 16:23] saikatbhadra commented on #361
Closing this since this feature isn't supported

[2020-03-30 16:23] #361 closed

[2020-03-30 19:09] saikatbhadra opened #365 "N95 language shows up twice in map filters"
See screenshot:

![Screen Shot 2020-03-30 at 10 40 29 AM](https://user-images.githubusercontent.com/2250961/77951660-427b2080-727f-11ea-929b-b44b5244c4b8.png)

I believe the correct fix is the second filter should be just surgical mask (no n95 language).

[2020-03-30 20:20] r-pop commented on #365
Correct, second filter should be "Surgical masks"

[2020-03-30 20:24] marcuscollins commented on #268
Timestamp + Facility Name is unique, so far, but agreed a primary key is needed.

[2020-03-30 20:33] nburt commented on #365
fix here, will merge as soon as translations come back: https://github.com/findthemasks/findthemasks/pull/366

[2020-03-30 20:48] cchang-adi commented on #229
I think we need a separate category for "Urgent Care" - this is more than just an outpatient clinic, since a lot of these are setting up COVID-19 testing and thus have higher needs for PPE than a typical clinic.

[2020-03-30 20:50] r-pop commented on #229
Added "Urgent Care"

[2020-03-30 20:51] cchang-adi opened #368 "Add "nasopharyngeal swabs" to items list"
Many hospitals are running short of swabs for taking COVID-19 test samples, and are now using STI swabs or other kinds of swabs for testing. A few hospitals have already written in "nasopharyngeal swab" to the free-response "other" field on the items list.

Although the average person may not have these, community STI clinics/ Planned Parenthoods, etc. could have a supply of these to donate.

[2020-03-30 20:53] cchang-adi commented on #268
Timestamp actually gets updated if the form respondent also updates the entry using the link we send them in the email receipt. Thus, it's not guaranteed to stay stable.

[2020-03-30 21:09] r-pop commented on #365
Fixed for en, but I suspect I approved merges in the wrong order because Spanish (and other langs?) are not fixed.

[2020-03-30 21:47] r-pop commented on #365
Fixed in IT!

[2020-03-30 21:47] #365 closed

[2020-03-30 23:09] marcuscollins commented on #268
Then we definitely should prioritize a primary key.

[2020-03-30 23:24] marcuscollins commented on #368
This is a good suggestion. I would use slightly different language, as I see several other variants:
[code]
at least some of which are also used for test-sample collection.

[2020-03-30 23:43] r-pop commented on #330
I think this is the same as Ewa's request to show all points on the map (with clustering) on page load for all countries. Helps with the bootstrapping/credibility problems in new regions.

[2020-03-30 23:47] #208 closed

[2020-03-30 23:47] #98 closed

[2020-03-31 00:12] vdalal commented on #245
mailinator.com or another email forwarder/relay like craigslist, mailgun) with good API support:
1. Assign relay/forwarder email account (id) for every (say) hospital or every transaction (i.e. a new email id per donor <--> hospital pair)
- a random 6 character alphanumic string = 36 ^ 5= ~60 mil email ids
2. The actual hospital email address is added to that relay/forwarder email account via API.

[2020-03-31 00:21] r-pop commented on #245
@vdalal that all sounds great. Are you willing to set it up? I can pay (monthly) but what I actually want to do it reach out to them and see if they can comp us the Team Plus plan because we are a COVID response site acting in the public interest. Many services have policies like this right now.

[2020-03-31 00:22] saikatbhadra commented on #317
Closing this issue as the major events are covered. If anyone wants more GA events please open a new issue

[2020-03-31 00:22] #317 closed

[2020-03-31 00:33] vdalal commented on #66
Site renders fine with:
* Microsoft Edge 80.0.xyz

[2020-03-31 01:13] vdalal commented on #340
Suggested:
* Have a separate type field for homemade PPE items:
** Homemade items (Masks, Gowns, Booties, Face shields, Overalls  etc.)

[2020-03-31 01:18] vdalal commented on #336
Agree

* Atleast align the verbiage so it is consistent
* Align the Google Forms (for the items that are common at the moment) so it is consistent too

[2020-03-31 01:22] r-pop commented on #340
Hmm, what we really want to capture is "only masks with filters" vs "cotton masks ok as N95 covers" etc. We could ask analysis what the input has looked like so far - we have been offering the option for nearly a day.

[2020-03-31 01:39] r-pop commented on #336
It is good info but someone needs to do some ux work to fit it into our design. Form text is fairly aligned, though includes other emergent categories as well.

I am not viewing perfect alignment as necessary because the form users (healthcare workers) and folks who need PPE edu are different user groups.

[2020-03-31 01:48] r-pop commented on #66
Great! I think this was for EdgeHTML Edge, and volantwish fixed it.

[2020-03-31 01:50] vdalal commented on #297
Yes, agree.
It will be better if they can provide and we can validate the request vs. their company (hospital) provided email id.

[2020-03-31 01:57] vdalal commented on #284
To clarify, did you mean just loading the page "findthemasks.com" in a browser?

[2020-03-31 02:52] vdalal commented on #195
Filters based on "Use my Location", "City, State" & "Zip Code" work reasonably well IMHO.

* The Map View adjusts automatically to show donation sites even though they may be far away.
-- I checked a few locations and even for (say) Montezuma, IA or St. Croix, IN the map view was zoomed out to show the nearby donation sites

Additional filter widgets for consideration:
* Move the State filter opti

[2020-03-31 03:12] nburt opened #370 "Locale switcher's active locale is not selected if loading a fallback language"
If a user visits findthemasks.com?locale=fr-FR the app correctly renders in French however because we store the locale as fr in `locales.js` the current language is not rendered.

We should reuse some of the language detection code to select the fallback language correctly and the switcher should display "French"

[2020-03-31 03:34] saikatbhadra opened #372 "Setup our website to get search insights to our GA page"
- [x] Setup Google Analytics: Go to **Google Analytics > Acquisition > Landing Pages > Setup Search Console Data Sharing > Adjust Search Console
- [x] Setup google search console to work with our site:  https://search.google.com/search-console/

@r-pop - I can do this if I get edit permissions to our GA instance. Otherwise you might need to pick it up.

[2020-03-31 03:40] vdalal commented on #166
Related to #66
Site renders fine with:
* Microsoft Edge 80.0.xyz/Windows 10

[2020-03-31 03:44] saikatbhadra opened #373 "Fire Google Analytics events for key user interactions"
Generate an event
- [x] if a healthcare worker clicks on the link to add/remove/update a donation site
- [x] if a user navigates to the large donation link
- [x] if a user navigates to the general getusppe.org link
- [x] if a user goes to our Facebook page
- [x] if a user clicks on a map cluster
- [x] if a user clicks on a map marker

[2020-03-31 03:47] vdalal commented on #166
Filters:
* "Zip Code": works
* "City, State": works
* "Use my location": does not work
* "Use my location": option disappears after one clicks on it
* "State": works
* "By Accepted Items": works

Tested with Microsoft Edge 80.0.xyz/Windows 10

[2020-03-31 03:52] vdalal commented on #60
Vasu Dalal (https://www.linkedin.com/in/vasudalal/)

[2020-03-31 03:58] vdalal opened #374 "Google Page Speed Insights"
https://developers.google.com/speed/pagespeed/insights/?url=https%3A%2F%2Ffindthemasks.com%2F

Our Score: 12
Our nearterm Target Score: 27 - 39 (match getusppe.org's score)
Our Stretch Score: 43 ("Accessibility" per Score guide)
(future) Our Aspirational Score Goal: 50 ("Progressive Web App" per Score guide)

Score Guide reference: https://developers.google.com/web/tools/lighthouse/v3/scoring

[sn

[2020-03-31 04:11] 4kbt commented on #284
Periodically reload https://us-central1-findthemasks.cloudfunctions.net/reloadsheetdata and its derivatives (for international sites). That's the url that triggers the conversion of our database into HTML for display on the site.

In the best case, the URL load is controlled by our devs, so that if auto-reloading needs to be disabled temporarily, it is under the control of the devs, and not my box

[2020-03-31 04:17] vdalal opened #375 "Google Mobile-Friendly Test Insights"
https://search.google.com/test/mobile-friendly?url=https%3A%2F%2Ffindthemasks.com%2F

[snip]

Tested on: Mar 30, 2020 at 8:59 PM
Page partially loaded
Not all page resources could be loaded. This can affect how Google sees and understands your page. Fix availability problems for any resources that can affect how Google understands your page.

  | Resource | Type | Status
-- | -- | -- | --
 | http

[2020-03-31 04:27] vdalal commented on #374
Related to #195

[2020-03-31 05:25] skimekerr opened #376 "Dynamically created donation location number on website"
It would be awesome to have the number of locations in this paragraph (1700) on the website be dynamically created so that it keeps better aligned with the actual number. Some thoughts...
- should it be per country total or total number of all donation sites across the globe?
- should it be rounded to the nearest hundred or exact number?

=======

How To Donate PPE

Our network of volunteers has c

[2020-03-31 05:53] saikatbhadra opened #377 "Display a country specific banner"
From #dev:

![image](https://user-images.githubusercontent.com/2250961/77991568-21471e00-72d9-11ea-9a71-265f0a910a61.png)

[2020-03-31 05:58] saikatbhadra commented on #374
There's discussion over slack on how we can improve performance. I believe @raindrift is coming up with some ideas to tackle these issues.

[2020-03-31 06:47] raindrift opened #378 "Make the site faster by rendering fewer things"
I'm getting too tired tonight to simply implement this, but here is a detailed plan. The idea is to stop rendering the complete list of 2k+ sites, and instead render the 50 at the top of the list, and then add more as the list scrolls. This should considerably improve pageload time (which is currently ~50% rendering, even on a recent macbook pro), and I have also verified that it'll make the googl

[2020-03-31 12:56] nburt opened #380 "Reduce image filesizes"
we're using several png files and have some large jpgs. There are a few that are several hundred kb

![image](https://user-images.githubusercontent.com/5788989/78028751-77de4780-732d-11ea-9db4-982860832da1.png)

[2020-03-31 13:25] #380 closed

[2020-03-31 17:05] saikatbhadra opened #385 "[performance] Move linkify js from head to inline"
The linkify js is currently located at the head of the page so it blocks rendering. I believe this is non core js functionality so we should test to see if moving it inline and possibly deferring it will improve page performance.

[2020-03-31 17:08] saikatbhadra commented on #375
@vdalal - can you break up these insights up into actionable issues that a dev can pick up?
For example, "test moving example.js from the head to inline" or "compress large image using xyz format". Google Page Insights throws out a lot of info so let's split each action item out and focus on the largest impact ones.

[2020-03-31 17:09] saikatbhadra commented on #374
@vdalal - can you break up these insights up into actionable issues that a dev can pick up?
For example, "test moving example.js from the head to inline" or "compress large image using xyz format". Google Page Insights throws out a lot of info so let's split each action item out and focus on the largest impact ones.

[2020-03-31 17:09] saikatbhadra commented on #372
FYI this is lower priority since we don't get much SEO traffic yet

[2020-03-31 17:20] saikatbhadra commented on #14
I am going to close this issue as I think this issue is addressed by the getusppe.org links now.

[2020-03-31 17:20] #14 closed

[2020-03-31 17:22] saikatbhadra commented on #102
Closing this as I believe this is addressed through getusppe.org links

[2020-03-31 17:22] #102 closed

[2020-03-31 17:23] saikatbhadra commented on #112
Can I close this since we have started doing this? we can create individual tasks for specific documentation (document this api, document data workflow, etc.)

[2020-03-31 17:23] #112 closed

[2020-03-31 17:25] saikatbhadra commented on #152
I am going to close this since we have 3 equipment types now in the main imagery.

[2020-03-31 17:25] #152 closed

[2020-03-31 17:35] saikatbhadra commented on #177
@liamrosen I am closing this as I can't repro. please re-open if you still see the issue.

[2020-03-31 17:35] #177 closed

[2020-03-31 18:17] patricknelson opened #386 "Architecture/Infrastructure Documentation"
We should add documentation in our existing architecture documentation (or maybe in the Wiki instead) outlining:

- The current high level infrastructure, e.g. serve static files from a LAMP box behind a CDN
- CDN (CloudFlare) and the importance of proper cache headers
- LAMP back-end (currently **not** in use, but still helpful to know about).
- Any automated tasks / cron jobs
- etc (anything els

[2020-03-31 18:21] liamrosen commented on #177
Yeah, it was fixed. Looks much better now!

[2020-03-31 18:28] r-pop commented on #341
The task here is to have a GCP function that rewrites data.json as data.csv.

I can then create a crontab to pull it over to the webserver.

Then we can link it from the FE UI.

[2020-03-31 19:25] vdalal commented on #245
@r-pop I am attempting to do just that. Stay tuned.

[2020-03-31 19:47] drwestco commented on #378
WIP for list performance: https://github.com/findthemasks/findthemasks/tree/LocationsListPerf

List starts out empty until one or more states is selected. Map view shows all locations, but dims those that are outside the selected states. Needs some polish (counter doesn't do the right thing, interaction with search bar, etc.), but could be a useful starting point.

[2020-03-31 22:14] 4kbt opened #387 "Make entry-approval flow case-insensitive"
Right now, entries only go live on the site if the first character in the Approval field is 'x'. Sometimes moderators enter 'X'. Let's make it case-insensitive :)!

[2020-03-31 22:19] r-pop commented on #60
@saikatbhadra yes please, I have obviously not kept up with manual edits.

For other manual edits, please submit PR and add yourself as you wish.

[2020-03-31 23:12] r-pop commented on #166
Keep in mind that IE and older Edge will be overrepped in healthcare. I have seen Win95 in hospitals when there as a patient, even in tech-centric Seattle.

[2020-03-31 23:14] 4kbt opened #389 "Add Google-Maps directions link to the address in map-bubble/listings"
Seems like an easy addition that might help conversion to connect donors with recipients.

Downside: May encourage people to go direct to the address without contacting recipient ahead of time.

[2020-03-31 23:22] saikatbhadra commented on #166
Putting the same caveat as @r-pop - Healthcare workers will be on more archaic systems. However, as long as they can go to to the site and fill out the form their main use case will be handled.

[2020-03-31 23:28] saikatbhadra commented on #166
Here are the browser stats. I was noticing some patterns changing (for example desktop usage going up) so please access GA for the latest stats:

Chrome version stats:
![Screen Shot 2020-03-31 at 4 22 09 PM](https://user-images.githubusercontent.com/2250961/78084018-f954ca80-736b-11ea-99f7-5f1881bc75ec.png)

Safari stats (what is 604???):
![Screen Shot 2020-03-31 at 4 24 30 PM](https://user-images

[2020-03-31 23:30] saikatbhadra commented on #166
Edge stats:

![Screen Shot 2020-03-31 at 4 29 45 PM](https://user-images.githubusercontent.com/2250961/78084376-e1317b00-736c-11ea-8341-bf93c4d92ac5.png)

IE stats:
![Screen Shot 2020-03-31 at 4 29 45 PM](https://user-images.githubusercontent.com/2250961/78084413-fad2c280-736c-11ea-9bdb-2fac9c782684.png)

[2020-03-31 23:37] saikatbhadra commented on #166
So the only common browsers that look weird to me are:
* Safari 604
* Edge 18

I'm not familiar with either of those browsers. Are they modern?

[2020-03-31 23:57] saikatbhadra commented on #60
Closing this, if you would like your name added to the project, please directly edit the whoweare.html in github and then submit a pull request.

[2020-03-31 23:57] #60 closed

[2020-04-01 00:10] patricknelson commented on #166
@r-pop that may be true (I actually expect that too), interestingly enough the analytics doesn't reflect that. It's possible that there are factors skewing it away from what we expect! In fact, this could be a hint that there are deeper issues, e.g.

1. Maybe they're encountering fatal JS errors which are preventing Google Analytics from loading, skewing the stats.
2. Maybe they have security soft

[2020-04-01 00:44] 4kbt opened #391 "Automatic residental-address detection"
It would be helpful to have automatic residential-address detection. @4kbt has explored SmartyStreets capabilities (at the suggestion of @marcuscollins) , and it looks plenty capable for our needs.

Why is it useful? Many of our recipients list residential addresses. Reasons vary, but they include increasing accessibility to the community, making drop-off safer for everyone, or perhaps avoiding em

[2020-04-01 00:44] 4kbt commented on #391
We have attempted to do this detection by hand, but it takes too much time for us to do it with our current level of moderator support.

[2020-04-01 01:58] marcuscollins commented on #341
See https://github.com/findthemasks/findthemasks/pull/388

[2020-04-01 02:50] crayne commented on #218
I'm new here, and I have lived in or near NYC my whole life.

 I don't know how the address generation works, but there are some additional issues with the resulting list.  For example, there is a Brooklyn section and a New York - Brooklyn section.  The same is true for the Bronx and Queens.  There are two New York - Manhattan sections. There are 2 New York sections and a NY section. And as mentio

[2020-04-01 03:06] 4kbt commented on #218
Awesome, @crayne. (We're all new here :). ) We've needed a native New Yorker to break the tie.

I just manually (hopefully) updated all of them to New York - Brooklyn style.

If you're able to manually update the NY and New York sections manually to their respective boroughs, that'll get us close.  There is probably a trailing space that makes the Manhattan sections different.

I'll see if we can

[2020-04-01 04:19] crayne commented on #218
OK, but how do you access the spreadsheet?

[2020-04-01 06:32] #309 closed

[2020-04-01 07:14] drwestco opened #401 "Filter by Accepted Items doesn't work reliably (or at all for non-EN markets)"
Filter by Accepted Items does a string search on the Accepting field of each listing. Each item in the filter list uses a short name to search: n95s, masks, shields, booties, goggles, gloves, sanitizer, overalls, gowns, respirators

Obviously, in a non-EN market, when the Accepting field is in the local language, this match is never going to succeed.

Even in EN, it's not reliable. See the short n

[2020-04-01 07:30] linderr commented on #401
No, the filters are important - I was just going to create a separate Issue on them to actually add more categories to match what is being allowed through the Google Form.

Especially now with more hospitals allowing homemade or 3D printed items, we need a way to display sites which have specify they allow for that. As much those in the maker space mean well, there are a lot of hospital policies a

[2020-04-01 07:33] linderr commented on #401
The issue I wanted to raise was that currently, there is no match between Google Form Items and Filter Items. That is like allowing the user to indicate they live in New York State and having no filter tile for "NY". Here is a screen grab from US-form items vs. US-filter list. Will it a separate issue for now as I think this can provide better usability of the data:
![image](https://user-images.gi

[2020-04-01 07:46] linderr opened #402 "Generate filter-by items based on data instead of hard-coding them/Filter by Items do not match Google Form items - [US/CA/FR/all]"
The items we allow hospitals to check off on the Google Form do not match the Filter items. See here for US-form vs. US-filter list example. It's the same issue on Canada and France form/pages:
![image](https://user-images.githubusercontent.com/62862914/78111379-6c346480-73b1-11ea-9f60-06ffb6cebd98.png)

This mismatch does not allow us to provide full usability to this dataset.
For example, now th

[2020-04-01 13:12] EwaPrzem opened #403 "Links to other sites per country"
Request to link to other initiatives on site per country. Example: « Also see other initiatives: » and a list with links.

[2020-04-01 15:09] drwestco opened #404 "Need city-level filters?"
California has ~400 entries. Do we need an additional filter at the city level after selecting one or more states to continue to narrow down the list? The search box above the map helps, although it doesn't affect the list display.

[2020-04-01 15:17] saikatbhadra commented on #404
City level filters will be hard for the user (there are too many cities in states like California). I think we should change this request to "make search filters change the list view"

[2020-04-01 15:58] crayne commented on #218
Actually, I think I need a copy of the spreadsheet on Google Sheets that I can alter and test by changing my branch code to point to it.

[2020-04-01 16:47] vdalal commented on #374
@saikatbhadra
* We dont need to act on every (or any) insight. Splitting it up will just cause more bugs in the system which we MAY not need addressed anytime (soon)
* I would categorize this in the "min" category unless we have had specific complaints
* Sometimes the tool may bring up specific gotcha(s) and best if a developer look at it and judge
* I can work with the developer to weigh: ease of

[2020-04-01 17:06] saikatbhadra commented on #374
Definitely wasn’t suggesting to use all of the insights. However we do have
significant performance issues which will lead to users bouncing so if any
specific insight is critical I would split it out in a new ticket. We have
a few prs which I’m hoping will fix performance but we should really have
site load at less than 2 seconds.

On Wed, Apr 1, 2020 at 9:47 AM vdalal <notifications@github.com>

[2020-04-01 17:17] raindrift commented on #374
I have a PR that addresses most of the performance issues, but I need to do
a little more work on it to fix some layout bugs. Should have it done in an
hour or two.

On Wed, Apr 1, 2020 at 10:06 Saikat Bhadra <notifications@github.com> wrote:

[2020-04-01 17:54] ngottlieb commented on #373
Tackling this one. Any guidelines for event naming, or should I just pick something succinct and clear for each?

[2020-04-01 18:07] saikatbhadra commented on #373
Here's an example of the events I setup:

- Click on state filter (Category: `filters` Action: `states` Label: `name of state`)
- Click on use my location (Category: `map`, action: `center`, label: `user-location`
Each event has a category, action, label, and value (not using that).

Succinct and clear is a good principle. Some more guidance:
- Don't have whitespace in any of your strings for cate

[2020-04-01 18:11] ngottlieb commented on #373
:+1: sounds good, thanks.

I'm just running against my own GA account locally for testing so don't really need access to the official account (@r-pop) but of course it wouldn't hurt for confirming functionality after it's done

[2020-04-01 18:12] saikatbhadra commented on #374
Yes I'm really excited about your PR! I'm hoping it will drop our bounce rate.

[2020-04-01 19:28] crayne commented on #218
@susanashlock @awong-dev I'd like to do this manually first -- then maybe automate it.  Could someone make a copy of the spreadsheet that I can tinker with? Thanks.

[2020-04-01 19:32] ngottlieb commented on #373
Submitted PR @saikatbhadra. Not entirely sure on the event attributes I went with, it depends a bit on how descriptive things need to be. I used naming conventions that followed the code (i.e. `noDonations` and `largeDonation`).

Super quick to change the categories or labels (obviously) so just let me know.

[2020-04-01 20:29] cchang-adi opened #408 "Ignore whitespace before/after city names (prevent duplicated city headings)"
If there is an additional whitespace around a city name, the site behaves as if it's' different from the same city name with no extra whitespace.

ie "Woodland Hills " is different from "Woodland Hills"

Unfortunately, trailing whitespace seems to happen a lot with these form fields. This generates what looks like two repeated city headers for the same city.

The only fix presently is manual remov

[2020-04-01 21:14] raindrift commented on #408
Yeah, should be straightforward. I’ll take care of it in a few mins.

On Wed, Apr 1, 2020 at 13:29 Catherine Chang <notifications@github.com>
wrote:

[2020-04-01 22:05] #378 closed

[2020-04-01 22:15] raindrift commented on #408
Hm. This already seems to be happening. Do you have an example of a city that's duplicated so I can go figure out what's happening with it?

[2020-04-01 23:11] TimmyV117 opened #409 "Add a quantity field for at least face shields and masks"
I'm working with a Chicago branch of Helpful Engineering and we are trying to connect Hospitals with various 3d printers/makers of face shields and masks. The current form of the data gives us a sense of who needs what but it doesn't give us a sense of quantitative demand. Can estimated quantity fields be added for at least the face shield portion? This will help us scale our production and meet d

[2020-04-01 23:43] crayne commented on #408
I'm working on fixing up the city names for the boroughs of Manhattan in #218 , and I've found some duplicates which I was going to fix manually - but now I won't do that because of this issue.  BTW there are two cities named "New York" in the listing, and I suspect that it is a manifestation of the whitespace problem.

[2020-04-02 00:35] drwestco commented on #408
We trim the city and state values when parsing the downloaded data. There shouldn't be any duplicates on the site due to leading/trailing whitespace:
[code]

[2020-04-02 03:10] cchang-adi commented on #408
I just realized that the site display is not faithful to the HTML that our "reload sheet data" script puts out! The final output is indeed trimming whitespace and doesn't have this problem, but the "reload sheet data" output is not doing that, which is why I was confused. Up until now everything in the "reload sheet data" output was faithfully depicted on the site, but this is a difference. My bad

[2020-04-02 03:10] #408 closed

[2020-04-02 03:11] cchang-adi commented on #231
Sorry to reopen this, alphabetization of entries within one city doesn't seem to be working anymore.

[2020-04-02 03:26] patricknelson commented on #264
Made a really quick PR for that here: #414

Decided to pass on changing filters, partly due to not having access to initial state, but also because of separation of concerns. IMHO, resetting the map should do just that and the filters serve another [higher level] function.

[2020-04-02 03:31] patricknelson opened #415 "Bug when filtering by state (pins on map are not clustered)"
See below. Basically this is easily reproduced when first selecting and then de-selecting a state that the map will **zoom** to, primarily larger states and states that are in the contiguous USA (e.g. `AZ`). If it's a state like `CT` it will not occur because no zoom occurs.

e.g. from https://findthemasks.com/give.html

![2020-04-01_20-30-39](https://user-images.githubusercontent.com/4269377/7820

[2020-04-02 04:38] saikatbhadra commented on #385
Closing this for now, didn't see too much of a performance boost

[2020-04-02 04:38] #385 closed

[2020-04-02 05:21] linderr commented on #409
Hi Timmy,

One of our collaborators just launched a new matching service called Shield Net: https://shield-net.org/ I would recommend getting directly in touch with them as they have these types of numbers. In fact, you can just join their US-CA network of makerspaces and manufacturers as a collaborator directly and they will help you with matching your donations to requesting sites.

We have rece

[2020-04-02 05:23] #409 closed

[2020-04-02 05:27] saikatbhadra commented on #195
I am closing this issue as we have infinite scroll which seems to be working well and improving performance! 🚀

[2020-04-02 05:27] #195 closed

[2020-04-02 05:29] #375 closed

[2020-04-02 05:30] saikatbhadra commented on #389
Duplicate of https://github.com/findthemasks/findthemasks/issues/126

[2020-04-02 05:30] #389 closed

[2020-04-02 05:31] saikatbhadra commented on #374
Closing this for now, feel free to create an issue on specific perf improvements (we still have room to go)

[2020-04-02 05:31] #374 closed

[2020-04-02 05:32] saikatbhadra commented on #126
Good idea, will look at this tomorrow

[2020-04-02 05:34] saikatbhadra commented on #147
Should we change this to ticket to "link to https://www.mask-match.com/ for users who don't want to drive" since it works nation wide?

[2020-04-02 05:36] saikatbhadra commented on #284
@4kbt - is this still an issue? Do we still require moderators to hit publish manually?

[2020-04-02 05:39] #373 closed

[2020-04-02 06:06] #231 closed

[2020-04-02 06:26] saikatbhadra opened #416 "GA - setup goals for key events"
In google analytics setup the following as goals:
- A user interacts with the map
- A user applies a list filter (either equipment or state)
- A user clicks on the large donation form link
- A user clicks on the no donation link
- A user clicks on the add a donation site form link

[2020-04-02 15:04] 4kbt opened #420 "Expose Categories in json / CSV"
We have categorization information that our data-consuming partners might be able to use. Even if we're not displaying it on the main site (which I think we should do, too), we can make it available for analysts.

The relevant column is  ( "Type of organization?" , "org_type" ).

Exporting this should be as easy as adding a column to the data-exports, I believe?

[2020-04-02 16:19] #264 closed

[2020-04-02 16:52] nburt opened #421 "Center map to new countries"
We currently have a map of hardcoded locations for the default country views. We need to add these for new countries:
es - Spain
it - Italy
at - Austria
pt - Portugal

[code]

[2020-04-02 17:04] ngottlieb opened #423 "CORS errors on development for new countries (AT, ES, IT, PT)"
Need to be added to the htaccess header rewrite

[2020-04-02 17:07] drwestco commented on #402
Is there a way the data can tell us the list of filters to show, instead of having it hard-coded in the site script? I'm imagining a new blob of data with key/value for each item type - key would be a canonical short code used to identify the type, value would be the display text for the filter control. Each location row would also have a field with a list of keys for the items accepted at that lo

[2020-04-02 17:47] vdalal commented on #245
I am not hearing back from mailinator.com, no # to contact them either. I will find other options.
Note to self: Read the vendors privacy policy to be sure that there is no potential for abuse

[2020-04-02 17:54] vdalal commented on #374
Tested 4/2, Chrome/Win10
Score varies between 44 - 47
Good stuff.

[2020-04-02 18:06] vdalal commented on #374
@saikatbhadra Is there a way for me to review our Google Analytics Dashboard?
Would like to understand our bounce rate (to start with):
(say) By Web? By Mobile? By browser?

[2020-04-02 18:29] #421 closed

[2020-04-02 18:44] vdalal commented on #7
Would we need the donors permission to publicize this information?

QUICK
1. Tweet (or FB) from our @findthemasks account?
2. Widget on the top RHS of our page showing the details
3. Donations are almost always local (& donor would like to be acked in the community) so am
     going for that vibe in our tweet (post)
4. If donor opts out, we can anonymize the post with (say)
  -- "A neighbor in #Sa

[2020-04-02 19:37] saikatbhadra commented on #374
You can message @r-pop for read access to GA.

[2020-04-02 19:47] tinabeans commented on #81
Hello! Right now the text on the form says "Drop off instructions, eg curbside procedure or mailing address. If you want donors to email or call you, please include contact info that can be made public in this field:"

What if we changed it to: "Write drop off instructions below or paste a link to your organization's own page containing instructions. For written instructions, please include detail

[2020-04-02 22:11] #415 closed

[2020-04-02 23:03] mx00s commented on #81
See the 2nd paragraph of @r-pop's reply. Unless the technical barriers have been remedied this may not be feasible.

[2020-04-02 23:59] linderr commented on #368
I second this add. The correct medical term is Nasopharyngeal swabs or "NP swabs" for short --- they are very specific, and not just a long Q-Tip. The swab tip is a special material that swabs AND scrapes (we are testing for virus in your cells to indicate infection, not necessarily surface virus) and the handle must be specific (aka NOT wood) as it messes with the downstream biochemistry.

Curren

[2020-04-03 00:01] linderr commented on #368
The US Air Force had to fly in 500,000 swabs 2 weeks ago from ... Italy (at it's height =/ )
Copan is an Italian manufacturer.

[2020-04-03 00:24] linderr commented on #404
Yes, ideally the text list should match and only list sites that is being shown on the map.

Use "Mills Memorial Hospital Terrace" in Terrace, BC on the map to test out this function. It's the only pin for hundreds of kilometers

[2020-04-03 01:16] nburt opened #425 "Austria / Italy / Portugal / Spain / Germany sites return 500s"
findthemasks.com/it
findthemasks.com/at
findthemasks.com/pt
findthemasks.com/es
findthemasks.com/de

[2020-04-03 01:21] nburt commented on #425
they seem to be going in and out for me. es wasn't accessible and then now it seems to be

[2020-04-03 01:22] nburt opened #426 "Combine CA French and English forms"
We should switch to using the MergeConfig and the Combined tab. Currently we read from the English form

[2020-04-03 02:38] #425 closed

[2020-04-03 04:10] crayne commented on #218
So I've done what @4kbt proposed manually, and I've also done the following:
NY -> New York - Manhattan
NewYork -> New York - Manhattan
Astoria -> New York - Queens
Bayside -> New York - Queens
Elmhurst -> New York - Queens
Flushing -> New York - Queens
Forest Hills -> New York - Queens
Howard Beach -> New York - Queens
Jamaica -> New York - Queens
Ridgewood -> New York - Queens
Woodside -> New Yo

[2020-04-03 04:15] crayne commented on #218
@susanashlock I've copied the steps from your comment above here:

1. Add a column next to the existing city column. Set row 2 for this column to 'autoCity'
2. Use a formula that points to an Apps Script to populate the column based on the logic described by 4kbt.
3. Set row 2 for this column to 'city'. The scripts and website will then read from this column.
4. Set row 2 for the existing city col

[2020-04-03 04:37] 4kbt opened #428 "Add Mariana Islands, other US territories."
We have multiple entries from Saipan, whose state-code is "MP", not "GU".

American Samoa is missing, too ("AS").

Let's get every American's home in the US form-intake list:

AS – American Samoa
FM – Federated States of Micronesia
GU – Guam
MH – Marshall Islands
MP – Northern Mariana Islands
PR – Puerto Rico
PW – Palau
VI – U.S. Virgin Islands
UM – U.S. Minor Outlying Islands

[2020-04-03 12:55] nburt commented on #426
@awong-dev from #data-ca it seems like you've fixed this? Can I close?

[2020-04-03 12:57] #423 closed

[2020-04-03 12:58] nburt opened #431 "give.html displays NaN for donation sites stat after load"
![image](https://user-images.githubusercontent.com/5788989/78363141-45308b00-7589-11ea-8d77-7567048a31c2.png)

[2020-04-03 13:08] nburt opened #432 "Create a "playbook" for launching new sites"
Things to include:

- Google forms for each locale
- MergeConfig + Combined sheet
- Translations in Smartling
- Adding locales to findthemasks.com
- Adding a country to findthemasks.com
  - Including map lat/lng/zoom default coordinates

[2020-04-03 13:10] nburt opened #433 "Thank corporate sponsors"
Some companies have been really generous in donating 10s of thousands of dollars worth of services to us. Thinking we add a logo + line on what they donated on the whoweare.html page.

[Smartling](https://github.com/findthemasks/findthemasks/issues/432) - Access to their translation management system

[Google](https://google.com) - Free Google Maps API credits

[Slack](https://slack.com) - Free Pr

[2020-04-03 13:33] #431 closed

[2020-04-03 13:58] 4kbt opened #435 "FTM-US FB preview is in French"
Facebook shares of FTM-US are in French. They should be in English :).

This is likely to be a quick fix, and it matters to our shareability -- let's fix it quickly!

Screenshot attached.

![image](https://user-images.githubusercontent.com/3980568/78368466-88363280-7578-11ea-92dc-d46fc5b9063d.png)

[2020-04-03 14:03] 4kbt opened #436 "Map-zoom on search is too tight"
When searching for a state, the Map view, at least sometimes, zooms in too tightly.

When searching for "California", it picks out a few pins near Fresno. "Texas" favors a few points near Dallas. This one might be tricky to fix.

![image](https://user-images.githubusercontent.com/3980568/78368912-3e9a1780-7579-11ea-8366-5a7be90ed15f.png)

[2020-04-03 14:05] 4kbt commented on #436
Happens on mobile, too.

[2020-04-03 14:30] nburt commented on #435
Won't have time to dive into this for a little while. Posting a few links if anyone else can take a look

Site to test our share links: https://developers.facebook.com/tools/debug/?q=https%3A%2F%2Ffindthemasks.com

Issue re i18n of sharing tags: https://developers.facebook.com/support/bugs/141601252889984/

docs: https://developers.facebook.com/docs/sharing/webmasters/

[2020-04-03 14:39] nburt commented on #435
Temporary fix to just remove fr tags altogether: https://github.com/findthemasks/findthemasks/pull/437

Longterm fix is to translate based off the `fb_locale` param: https://stackoverflow.com/questions/13923944/how-can-i-internationalize-meta-og-tags-to-be-parsed-correctly-by-facebook

When picking that up we should also check how slack / twitter / anyone else does i18n for sharing

[2020-04-03 14:44] awong-dev commented on #426
yup. closing.

[2020-04-03 14:44] #426 closed

[2020-04-03 14:45] awong-dev commented on #402
@drwestco this is a good idea. The "MergeConfig" tab has this info. We need to dump and parse.

[2020-04-03 15:05] nburt commented on #402
I'd also like to integrate this with translation as well. Since we're using the MergeConfig to write enums into English we'll need to translate them into the user's selected locale when displaying them in map popups + the locations list.

[2020-04-03 17:56] r-pop commented on #81
Yes, we now have separated the human-readable label from the code-readable labels in the sheet. Big relief. I like Tina's edit and will make it on the US-en form now.

[2020-04-03 17:57] r-pop commented on #81
Fixed!

[2020-04-03 17:57] #81 closed

[2020-04-04 02:10] ngottlieb commented on #436
this is actually kind of an interesting situation, I think. Basically, the search isn't really being executed by our code but by a separate service, and we don't know whether the person typed in an address, city, or state. Google (the geocoder service in question) returns a recommended viewport that might solve this problem, but what we're doing right now is centering the map on the closest existi

[2020-04-04 05:11] saikatbhadra commented on #416
Set this up in GA

[2020-04-04 05:11] #416 closed

[2020-04-04 05:16] saikatbhadra commented on #150
I will be closing this as we now have a bottom bar which is currently being used for i18n

[2020-04-04 05:16] #150 closed

[2020-04-04 14:45] #126 closed

[2020-04-04 15:48] drwestco commented on #436
I like suggestion 2. Use goog's suggested viewport, expanded with our current "3 nearest markers" logic. If the viewport starts out wide enough, it won't expand.

[2020-04-04 16:06] nburt commented on #433
Took a stab at this here: https://github.com/findthemasks/findthemasks/pull/442

[2020-04-04 18:17] crayne commented on #218
This is now live.

[2020-04-04 20:01] nburt opened #446 "Translate PPE in the "Accepting" section in marker popups and the locations list"
We now have a Merge Config for form submissions in Google Sheets that will "translate" enums from languages -> English so that we can correctly apply filters.

Since these enums are saved in the `data-{countryCode}.json` files in English, they are rendered in marker popups and the locations list in English, regardless of the locale you select.

We need to look up these enum keys dynamically and re

[2020-04-04 20:13] ngottlieb commented on #284
if this is still needed, could it just be accomplished with [Uptime Robot](http://uptimerobot.com/)?

[2020-04-04 20:23] nburt commented on #218
🎉

[2020-04-04 20:23] #218 closed

[2020-04-04 20:35] nburt commented on #446
![image](https://user-images.githubusercontent.com/5788989/78460836-4b5e5e80-7692-11ea-9b30-0839ca4ba58e.png)

[2020-04-04 21:24] cchang-adi commented on #368
More hospitals seem to be open to taking 3D printed face shields from the community now as well, and grassroots efforts seem to be springing up everywhere. There is need for a centralized database for which hospitals will accept it and what their specifications are, unless OSCMS is keeping a list somewhere that we don't know about.

[2020-04-04 21:52] linderr commented on #368
See my post in #general:
https://findthemasks.slack.com/archives/C010HB27BU5/p1585801842227300

A huge 3D print/makerspace/manufacturer network is using our US and CA data
to develop a match algorithm. They have used it to become Shield Net
<http://shield-net.org>. They can currently produce (as a network) ~900,000
face shields per day.

Best,
L

<http://www.avg.com/email-signature?utm_medium=emai

[2020-04-04 23:17] 4kbt commented on #284
As far as I know, this is still an issue. We're still hitting it regularly. It is a useful tool to have under the control of our devs, as you may be seeing as the i18n sites come up and have teething trouble.

Sometimes you actually don't want to publish when things are being debugged :).

I'd love to have it publish regularly, though. It is one fewer step for the main-line moderators to worry abo

[2020-04-05 01:29] nburt opened #452 "Administrative regions for international locations are breaking by letter"
![image](https://user-images.githubusercontent.com/5788989/78464761-3f3ac700-76bb-11ea-90a0-8223d7b87595.png)

We should fold these above the city rather than squeezing them in squares meant for US state abbreviations

[2020-04-05 02:27] nburt opened #453 "Search from international countries can return the wrong results"
Search results seem to bias towards the US. For example, when on https://findthemasks.com/fr/ and you search 13000 (postal code for the Marseille area) the map zooms out to focus on France + US. It seems to have found a US result and then zoomed out to include 3 French markers.

One thought is that we can try to append the country code from the url into the search (13000 fr does return the correct

[2020-04-05 02:29] #436 closed

[2020-04-05 02:36] nburt commented on #436
@ngottlieb just fixed this and I merged which closed the issue. @4kbt let us know how it's working for you and you can reopen the issue if there are still some problems

[2020-04-05 03:30] 4kbt commented on #436
Looks way better. Awesome.

[2020-04-05 06:00] saikatbhadra commented on #453
In my view every user should be able to see every donation site. We have no idea what their use case is. One example is they could be on a VPN and so their locale was selected in a country that is not where their VPN is.

[2020-04-05 06:19] 4kbt commented on #277
I'd add Law Enforcement to this categorization.

[2020-04-05 06:53] cchang-adi opened #457 "Analytics of need magnitude, by area, by organization type, etc"
As we saw before, states/govt entities are interested in our dataset because we have visibility into PPE needs beyond those of formal healthcare systems.

A few ideas for analytics to run:

1. Relative magnitude of need, to direct donations to areas with greatest need? (suggested by @saikatbhadra)

2. Once we get categories backfilled (see https://github.com/findthemasks/findthemasks/issues/277),

[2020-04-05 07:27] saikatbhadra commented on #284
happy to take this on. Can I get firebase access ? I can do this through a
chron through that.

On Sat, Apr 4, 2020 at 4:17 PM Charlie Hagedorn <notifications@github.com>
wrote:

--
-Saikat
saikat.bhadra@gmail.com
(832) 654 1735
https://www.linkedin.com/in/saikatbhadra

[2020-04-05 14:47] nburt commented on #435
If we want to tackle this we're going to need to switch to server side rendering. I attempted here: https://github.com/findthemasks/findthemasks/pull/458 but FB doesn't interpret JS.

[2020-04-05 15:03] nburt commented on #453
ok I think I have a solution to fix the postal code issue. We're defaulting to US as the region even if the country is FR. I think there's still some zooming work to be done at some point but I think that correctly setting the region is good enough for a start

[2020-04-05 15:58] crayne commented on #368
I can do this.

[2020-04-05 16:26] saikatbhadra opened #462 "Get JavaScript errors from users"
Install something like sentry/airbrake so we see the JavaScript errors users get.

We should hook it up to slack so developers get notified as well.

[2020-04-05 17:04] 4kbt opened #463 "Address auto-parsing breaks on US territories"
As I understand it, the US address-parser relies on removing "USA" as part of its formatting algorithm. This apparently breaks on US territories, leading to trouble with their street addresses.

Look to Puerto Rico data (PR) for examples that have fallen over (and been fixed manually by moderators).

The edit is likely to be a small code change; just have to make sure we don't alter US-state forma

[2020-04-05 17:24] linderr opened #464 "#data-ca Email and telephone data don't output on Combined tab from raw data (Columns Q to T)"
In the new MergeConfig style spreadsheets, identifier rows on Combined are missing in Columns Q through T. Corresponding data in this row (email, telephone etc) are not being outputted from raw data tabs. See row 146 (email missing) and test row 147 (email and phone missing):

![image](https://user-images.githubusercontent.com/62862914/78505279-51524f00-7727-11ea-8138-496f9c2b7d3b.png)